[2017-02-28 23:58] monicacecilia opened #1 "Refining a search"
### From the now-archived JIRA GO help desk.

From : Lovisa Åkesson

I'm in the need of estimating the number of human genes localizing to multiple cellular compartments (or organelles) based on the gene ontology cellular compartment terms. However, when I download the terms for each gene, most of the GO-terms are redundant. Is there a way to group all the terms for one gene into one major organel

[2017-03-02 12:50] rachhuntley opened #2 "Panther tool includes NOT annotations in enrichment"
Hello,
I recently noticed that several term enrichment tools are including NOT annotations in their enrichment, Nancy and I between us have contacted g:Profiler, DAVID and ClueGO who are working to remove these annotations. I also tried this on Panther and it seems this too also includes NOT annotations in the enriched set as if they are positive annotations.

I used the protein list copied below.

[2017-03-03 01:12] kltm commented on #1
Assigning @cmungall from original ticket. We believe this may concern the creation of a new slim.

[2017-03-03 01:14] kltm commented on #2
PANTHER question, so probably @mugitty. Maybe better on PANTHER tracker?

[2017-03-03 09:02] rachhuntley commented on #2
OK, I didn't know there was a Panther-specific tracker. I have added it there instead and will close this ticket.
See https://github.com/geneontology/panther-enrichment/issues/4

[2017-03-03 09:02] #2 closed

[2017-03-03 18:32] kltm commented on #2
@rachhuntley No problem that's what the helpdesk is here for ;)
We still trying to work out how we should do this as well, so there will be a period of adjustment.

[2017-03-04 03:48] cmungall commented on #1
goslim_generic is probably fine. Here is the cc subset:

[code]

[2017-03-04 05:26] monicacecilia commented on #1
Thanks @cmungall  I'll update the user and let her know of that the conversation has moved here.

[2017-03-09 20:06] tamiyajima opened #3 "Size of go_monthly-assocdb-data.gz"
Hi,
The size of go_monthly-assocdb-data.gz dated 07-Mar-2017 is 228M, whereas that of the same file dated 07-Jan-2017 is 6.2G.
Is this file correct?

Thanks.

[2017-03-09 20:15] kltm commented on #3
@tamiyajima,

Thank you for contacting the GO Helpdesk.

Our apologies for the trouble. There were apparently some issues with the final build for the GO full database. @stuartmiyasato may have some more information there. I would suggest using the 2017-01-01 build instead.

It may be good to note that we will soon be switching over to a graph store and that the mysql dumps may not be produced in

[2017-03-09 20:15] #3 closed

[2017-03-10 14:42] davidbio opened #4 "GO ftp latest-full MySQL dump not available?"
Dear GO-Team,

I was wondering what happened to the files in:
[http://archive.geneontology.org/full/latest/](http://archive.geneontology.org/full/latest/)
Currently March 2017.

The file assocdb-data only weights about 230 MB compared to 6.2 GB in January.
From the table sizes I get the impression that the "association" table is incomplete (March 2017).

The February folder is completely empty.

A

[2017-03-10 19:38] kltm commented on #4
@davidbio,

Thank you for contacting the GO Helpdesk.

Our apologies for the trouble. There were apparently some issues with the final build for the GO full database. I would suggest using the 2017-01-01 build instead.
See #3.

It may be good to note that we will soon be switching over to a graph store and that the mysql dumps may not be produced in the future.

Best wishes, kltm

[2017-03-10 19:38] #4 closed

[2017-03-10 19:38] kltm commented on #4
@stuartmiyasato

It may be good to pull the "bad" archive files to prevent further confusion.

[2017-03-11 10:17] davidbio commented on #4
@kltm
Thank you for the quick answer.

Where can I find this "Graph Store", what data-format is it and does it contain the same type of relationships?
e.g. dbxref -> gene_product -> association -> GO term?
Is there any documentation about this?

Best,
David

[2017-03-11 19:49] kltm commented on #4
@davidbio,

Well, we're in a bit of a transition period right now setting up the new pipeline, which will include the graphstore--we're no longer updating the mysql dumps in an effort to put that effort towards completing the graphstore. Our testing endpoint right now is at http://rdf.geneontology.org, with documentation (as it stands) at https://github.com/geneontology/go-graphstore/ (@cmungall m

[2017-03-13 21:59] stuartmiyasato commented on #4
@kltm Just got back from vacation.  This is now done.

[2017-03-13 22:23] kltm commented on #4
@stuartmiyasato Thank you! Welcome back!

[2017-03-13 23:03] kltm commented on #1
If there is no further contact with the user, we may as well close this for now.

[2017-03-13 23:03] #1 closed

[2017-03-17 10:06] mohitjha opened #5 "Which Gene ontology database tables contains NCBI sequence accession numbers or Entrez id"
I am making a pipeline for GO analysis (starting from sequence). I dont want to use blast2GO. I have Gene ontology local database and i want to map blast output to gene ontology categories but i am not able to find which Gene ontology database tables contains NCBI sequence accession numbers or Entrez id so that to map the blast output to GO categories

[2017-03-20 07:00] kltm commented on #5
@mohitjha
You might want to take a look here:
 http://geneontology.org/page/lead-database-guide#dbtypes
and then check out the database archive at:
 http://archive.geneontology.org/
The schema, including which tables contain sequence information, can be found here:
 http://geneontology.org/page/lead-database-schema

The mysql database is fast approaching "legacy" status, in favor of downloads and

[2017-03-20 08:39] mohitjha commented on #5
all the table contains "id" field, which tables "id" is the ncbi sequence accession number?

[2017-03-20 19:48] kltm commented on #5
I believe for what you are looking for, you probably want to join against the seq_dbxref table (http://geneontology.org/page/lead-database-schema#go-sequence.table.seq-dbxref). The following example may be of some use:
http://wiki.geneontology.org/index.php/Example_LEAD_Queries#Searching_by_sequence_dbxref

[2017-03-23 19:50] rcaspi opened #6 "EC2GO"
Hi,
I am a member of the enzyme commission, and I would like to find out more about who is doing the EC2GO mapping, how often the mapping file is updated, where do you get the latest EC numbers etc. Could you please put me in touch with the responsible person?

Thanks,
Ron Caspi

[2017-03-23 19:56] kltm commented on #6
Maybe @cmungall @monicacecilia would have some idea about the best information here?

[2017-03-23 20:14] cmungall commented on #6
@rcaspi, thanks for getting in touch. This is great timing as we are currently working on improving our EC2GO mappings. I will place this on the agenda for the ontology developers call tomorrow and someone will get back to you next week.

cc @ukemi @hdrabkin

[2017-03-23 20:23] rcaspi commented on #6
Hi Chris,

      Thanks, that sounds great.

      I will be giving a short talk about EC curation at the BioCurator
      conference on Monday. Any chance you could give me a little more
      info about this mapping project that I could potentially mention
      in that talk?

      Ron

      On 3/23/2017 1:14 PM, Chris Mungall wrote:

      @rcaspi, thanks for getting in touch.
        This is

[2017-03-24 00:44] cmungall commented on #6
Some general ideas:

 - we had a lot of redundant mappings, with an EC mapped to a broad GO term and a narrower one. We're looking to get rid of these but some issues came up
 - we're attempting to be more consistent about directionality of reaction in GO
 - historically we have mapped to EC after the fact, but @hdrabkin is working on a project where is prospectively adding ECs as he adds new batc

[2017-03-24 18:11] hdrabkin commented on #6
While adding terms, I check if EC is used as an xref already, and avoid using ".-" ec ids;
The xrefs are used to generate the mapping file, and if a ".-" is used, then all the members of the ec class are mapped to the GO term, which is not the intended outcome.

[2017-03-27 18:33] hdrabkin commented on #6
I should add that the mapping file (EC2GO) is refreshed monthly. Current version:  Generated on 2017-03-27T13:28Z from the ontology 'go' with data version: 'releases/2017-03-27'

[2017-03-28 14:13] NancyCampbell opened #7 "TermGenie"
Hi,
Is the TermGenie site still down? Is there an alternative?
Thanks
Nancy

[2017-03-28 15:55] cmungall commented on #7
We need to rewire TermGenie to point to the GitHub repo instead of svn.
I'm not sure when I'll get the chance to do this.

Top priority for the editors group is getting high priority TG tickets
encoded as DOSDP YAML. Once this is done we'll unveil the TG
replacement.

On 28 Mar 2017, at 7:13, NancyCampbell wrote:

[2017-03-29 08:10] NancyCampbell commented on #7
Thanks for the clarification. I will request terms on Gene ontology/go-ontology GitHub repository for now.

[2017-03-29 09:26] sgoetz commented on #4
As David mentioned above we saw that the GO MySql Dump "assoc_data" which contained all the consortium annotations is not getting updated anymore  (latest version is from January).
These dumps had always been very useful for us and I have some questions regarding its continuity:

- Are you planning to still create these dumps in the future?
- If not, could you provide support to populate the "old"

[2017-03-29 09:40] NickJDnid16 opened #8 "GO Annotation files from FlyBase etc have different number of annotated genes than GO Consortium - Which one to choose"
As the title notes, an example is that FlyBase contains ~1000 lethal knockout genes which are annotated with a lethal phenotype and a GO term. Whereas if I use the go_annotation file from GO Consortium, there is only ~500 which are annotated with a GO term.
Is FlyBase more liberal or is the annotation file from the Go Consortium older?

[2017-03-29 16:07] #7 closed

[2017-03-29 16:41] kltm commented on #8
@NickJDnid16

Would you be able to provide a couple of the annotations that were removed that you are concerned about? There may be different rationales in different cases.

Looking at the files, the current one provided by GO is based on the one currently offered on the FlyBase FTP site. The new header of the filtered file gives a good overview of the process:

[code]

Digging in a little bit mor

[2017-03-29 16:53] kltm commented on #4
Apologies, this transition has been a long time in coming--the MySQL pipeline has taken an inordinate about of machine and time to maintain.

* The "full" dumps are no longer being produced; the various light dumps will be continued for a little while longer while the graph store workflow and data dumps are being worked out
* The current loads are produced by a quite old (and brittle) perl SQL sys

[2017-03-30 20:58] #5 closed

[2017-04-04 16:46] LisaMatthews opened #9 "Question about a GOOSE query"
Hi,
I am interested in using GOOSE to get  a list of all human gene products annotated to a selected GO term _and_ all of its decendant  terms.  I'd also like to be able to specify the  evidence codes that I would want to include:
   (IPI)  (IDA) (EXP) (IC) (TAS) (IMP)(IGI). Would you be able to help me design such a query?
Best regards,
Lisa

[2017-04-04 18:19] kltm commented on #9
@LisaMatthews

Okay, let's see, that would be experimental plus TAS and IC. I using GOOSE. Depending on the output, you probably want something along the lines of:

[code]

Or, if literally just gps, maybe:

[code]

[2017-04-04 18:19] #9 closed

[2017-04-05 12:49] julie-sullivan opened #10 "Can filenames use the same pattern?"
All (gene association) filenames have the same pattern for their name:

```gene_association.[SPECIES|ORG].gz```

Except for the ones from the EBI. Can they all use the same pattern instead? Or is there a specific reason for the difference? It would make my life a lot easier! :)

Thanks!

[2017-04-05 20:08] cmungall commented on #10
Hi @julie-sullivan - sorry about this. We may move to the EBI pattern in the future, but we want to avoid people hardcoding assumptions about naming conventions.

Would it make your life easier if the GO released something like a download script, or a TSV or JSON file with an entry for each file, plus metadata?

[2017-04-06 10:16] julie-sullivan commented on #10
Yes, that would be great! :)

[2017-04-07 13:40] hattrill commented on #8
Hi Nick,

I see that you've opened an issue here on the differences in the GAF file. I believe we narrowed down the source of your problems to the phenotype file, which Gillian is now helping you with via FlyBase helpmail.
Would it be ok to close this ticket here?

Thanks, Helen

[2017-04-07 16:49] #8 closed

[2017-04-10 15:36] elliefewings opened #11 "No connection to Enrichment analysis"
I have been unable to access the GO enrichment analysis tool online since mid last week. I am able to browse the site but any search for terms times out with the error that pantherdb.org has no response. It actually looks as though the whole panther site is down. I have been looking on your twitter feed for any service notifications but have seen none. On top of this I am also unable to access you

[2017-04-10 16:49] kltm commented on #11
@elliefewings

From our logs, PANTHER started getting spotty around 5:30am. It seems to have been reset now, so please let us know if you are still having trouble.

The status page  is now also working as well, after a brief (and I believe unrelated) outage with that service provider.

[2017-04-10 16:49] #11 closed

[2017-04-10 17:57] kltm commented on #6
This item is now two weeks open without action in the helpdesk. Is there a more permanent tracker item that this should be pointed at or moved to, or is this item closable?

[2017-04-10 18:06] hdrabkin commented on #6
I spoke with Ron briefly. This is a large project; ; no simple fixes here.

[2017-04-10 18:08] rcaspi commented on #6
My group will assemble a list of current EC entries that are missing from the EC2GO file, and provide it to Harold. We will take it from there.

[2017-04-10 18:12] kltm commented on #6
Okay great. If there is a ticket to encapsulate this in one of the trackers, feel free to add it here. Otherwise, I'll close this out as a helpdesk ticket.

[2017-04-10 18:12] #6 closed

[2017-04-11 14:59] NickJDnid16 commented on #8
Hi Helen,
Sorry for a delay.
Yes I think that would be fine. Thank you.

From: Helen Attrill<mailto:notifications@github.com>
Sent: 07 April 2017 14:40
To: geneontology/helpdesk<mailto:helpdesk@noreply.github.com>
Cc: Nicholas Dimonaco [nid16]<mailto:nid16@aber.ac.uk>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [geneontology/helpdesk] GO Annotation files from FlyBase etc have differen

[2017-04-18 18:34] capricy opened #13 "Mouse annotation file"
Dear GO Team,

Could you please let me know what version of Mouse genome the current annotation (24426 records) is corresponding to?

Thanks.

Kind regards,

C.

[2017-04-18 18:45] kltm commented on #13
@hdrabkin Is this something that you'd be able to answer?

[2017-04-18 18:59] hdrabkin commented on #13
The Mouse Genome Informatics system (MGI) is the official source of GO annotation for mouse genes
The current mouse genome build is GRCm38.
Our (MGI) GO annotations don't normally change because of changes in builds unless
1. a "gene" becomes a pseudogene, or other non-gene type marker; MGI annotates to only marker type gene
2. If an annotation is imported from GOA, who muse UniProt identifiers;

[2017-04-18 20:53] #13 closed

[2017-04-20 16:01] davidbio commented on #4
This is just to let you know, that the latest folder points again to April and contains no valid data.
http://archive.geneontology.org/full/latest/

[2017-04-20 18:18] kltm commented on #4
@stuartmiyasato Are parts of the "full" pipeline still ticking over enough to be causing the partial updates? That is something that we can definitely declare "done" and disassemble. A final manual step might be to aim latest at the January release and remove the bum March one.

[2017-04-20 18:34] stuartmiyasato commented on #4
@kltm Huh, weird.  I had disabled the cron job that performs the load and I had commented out the job that copies the files to the archive site, but there was a duplicate copying line that was uncommented.  So the loading server apparently copied over some bogus build from a previous month.

I removed the uncommented line from the crontab and I manually fixed the "latest" link.  I also deleted the

[2017-04-20 19:02] kltm commented on #4
@stuartmiyasato Great, thank you.

[2017-04-27 10:25] BaibaKr opened #14 "GO annotation don't work"
Hello!

GO annotation link http://amigo.geneontology.org/amigo/landing don't work. :(

[2017-04-27 18:27] kltm commented on #14
@BaibaKr

Apologies for the outage. Things seems to be currently working for us at this end. Please reopen if you are still having trouble.

[2017-04-27 18:27] #14 closed

[2017-04-27 18:37] hdrabkin commented on #6
Cross reference geneontology/go-ontology/#13432

[2017-04-27 18:48] kltm commented on #6
geneontology/go-ontology#13432

[2017-04-27 18:59] hdrabkin commented on #6
ah!

[2017-04-30 06:11] urielsinger opened #15 "discovery dates PPI"
Hello,

I'm interested in protein-protein interactions. Furthermore, I'm interested in the discovery date of each interaction between each protein couple.

Can I, and how can I extract this data?

Thank you,
Uriel
Technion

[2017-05-02 03:32] kltm commented on #15
@cmungall
I don't suppose you might have any ideas for this?

[2017-05-02 03:51] kltm commented on #10
@cmungall I was wondering if there was an external ticket or further action on this item?

[2017-05-09 21:33] HaonanTong opened #16 "AT1G78080"
Hi, during my project, I realize that two genes AT1G78080, AT5G47230 are included in GO:0009873 of TAIR data(https://www.arabidopsis.org/index.jsp) but not under the corresponding category of AmiGO2. That confuses me so much. What happens..

[2017-05-10 02:43] kltm commented on #16
Our apologies for the inconvenience that you're having here. I'll look into it, but (not to talk too much baseball) you have likely run into a case where you are unable to find what you're looking for as you're searching for an annotation using a synonym.

The data that you're trying to find can be found easily searching for looking at "primary" identifiers anywhere and gene product searches; for

[2017-05-10 04:21] HaonanTong commented on #16
Hi, thank you for reply. That's not really the case. I really want to
download all the gene list of GO:0009873 and duplicate a result of a paper.
And then I realize that, two genes that should be in are not included in
GO:0009873 of our website. That confuses me.

For example, AT1G78080 is a gene corresponds to "response of ethylene" and
thus should be in category of GO:0009873 but not in AMIGO. H

[2017-05-10 13:17] martinhilbers opened #17 "Interpro references disappeared in lite/go_weekly-assocdb.rdf-xml"
It seems that all but 1 Interpro references have disappeared from the lite/go_weekly-assocdb.rdf-xml
data file in the latest release:
ftp://ftp.geneontology.org/go/godatabase/archive/lite/2017-04-29/go_weekly-assocdb.rdf-xml.gz
They are present in the data file from the week before:
ftp://ftp.geneontology.org/go/godatabase/archive/lite/2017-04-22/go_weekly-assocdb.rdf-xml.gz

Similarly all referen

[2017-05-10 23:02] kltm commented on #16
@HaonanTong,

Let's note that the items that you're looking for have the IDs of `TAIR:locus:2029491` and `TAIR:locus:2171529` (for symbols `AT1G78080` and  `AT5G47230` respectively).

Here is a search in `annotations` for the GO term `GO:0009873`, with `TAIR` as a source restriction:

 http://amigo.geneontology.org/amigo/search/annotation?q=*:*&fq=assigned_by:%22TAIR%22&fq=regulates_closure_label:

[2017-05-11 00:08] kltm commented on #17
@martinhilbers,

Our apologies for this issue.

We will try and take a look at what is going on here (@cmungall I wonder if you might have any knowledge about what might have happened?), but our bandwidth may be limited until we have switched over to the new pipeline and production site. (You might be interested in the conversation taking place on #4, where we discuss a little bit about the roadma

[2017-05-11 00:39] HaonanTong commented on #16
I got your point. Yes, that's really the case. Thank you for clarification!

[2017-05-11 00:39] #16 closed

[2017-05-11 14:25] Dongxn opened #18 "how to get all Go terms that in a specific level?"
Hi, I am doing GO analysis and I am curious about - if there are any files that contain a list of GO terms in a specific level, for example level 3? Thank you

[2017-05-11 18:06] kltm commented on #18
@Dongxn,

For an analysis, you may want to reconsider using GO "levels", as there really isn't any such thing due to multiple paths through the graph and granularity of terms.
For a little more discussion, as well as a possible path forward if you choose to go that way, please the the FAQ:
 http://geneontology.org/faq/how-can-i-calculate-level-go-term

kltm

[2017-05-11 18:06] #18 closed

[2017-05-14 23:53] pengyu opened #19 "Why Epidermal differentiation complex is not available in GO?"
I see epidermal differentiation complex which has been studied quite extensively. Is there a reason why it is not included in GO? Thanks.

https://en.wikipedia.org/wiki/Epidermal_differentiation_complex

[2017-05-15 15:14] hdrabkin commented on #19
Hi, thank you for contacting GO.
It appears what  you describe is a gene complex, which is more appropriate for the sequence ontology
The GO has terms describing protein complexes as an indication of when a protein functions as part of a protein complex.

[2017-05-15 15:18] cmungall commented on #19
SO would not have individual named gene complexes, just the generic complex.

[2017-05-15 17:56] kltm commented on #10
Closing from inactivity.

[2017-05-24 17:07] ValWood commented on #15
The GO annotation file displays only the data the annotation was made (col 14). If you require the date that the interaction was dicovered you could need to  extract the PubMed ID (col 6), and then retreive the publication date from PubMed.

I hope this helps.

[2017-05-24 22:01] #19 closed

[2017-05-26 19:54] cmungall commented on #17
Apologies for the delay. This is due to a change in the API provided by NCBI, which means xrefs for gene products will be incomplete.

Unfortunately we don't have resources to fix this at the moment. We will be unveiling a new pipeline later this year - were the protein xrefs required for your use of the go-rdfxml files?

[2017-05-26 20:00] cmungall commented on #10
Our new pipeline will be finished soon, filenames will be consistent, we'll have json soon

[2017-05-26 20:01] #10 closed

[2017-05-26 20:02] cmungall commented on #15
@urielsinger I assume the context of your question is PPIs in GO, i.e protein binding annotations where the binding partner is in the with field? Of course, for general PPIs there are other database like IntAct

For GO PPIs, I think @ValWood's advice is good

[2017-05-27 18:36] pengyu opened #20 "Where is the antimicrobial peptide GO term?"
S100A7 is an antimicrobial peptide. But I don't find such an annotation in GO. Is it available?

[2017-05-27 18:39] cmungall commented on #20
You can see and download the annotations here: http://amigo.geneontology.org/amigo/gene_product/UniProtKB:P31151

[2017-05-27 18:39] #20 closed

[2017-05-30 08:31] martinhilbers commented on #17
I'm a bit confused - the missing references re-appeared a few weeks ago. Are you saying that the references now in the data are incomplete or unreliable ?
And yes - we do use the protein xrefs in the rdf-xml files.

[2017-05-31 05:05] #15 closed

[2017-05-31 17:58] urielsinger commented on #15
Thank you all very much! It helped me a lot!

בתאריך 31 במאי 2017 8:05 לפנה״צ,‏ "Chris Mungall" <notifications@github.com>
כתב:

[2017-06-01 17:32] selewis opened #21 "Improve information on citing the GO in analytical publications"
Provide easy to locate (obvious) information describing what details need to be included in any publications that utilized GO in their analysis. This includes the GOC paper to reference, datas, use of NOTs, etc.

[2017-06-01 17:37] kltm commented on #21
This issue was moved to geneontology/go-site#360

[2017-06-01 17:37] #21 closed

[2017-06-06 11:13] ValWood opened #22 "accessing all annotated GO terms IDs (Including ancestors) for a gene programatically"
One of our users  has asked how to do this as part of some protein-protein interaction prediction method.

I have seen it answered previously on the GO helpdesk more than once but I don't see it in the FAQ . Could it be added?

Thanks,

VAl

[2017-06-07 00:06] tedgoldstein opened #23 "Access denied on a public URL"
Click on http://www.geneontology.org/page/tools   (which is a link on the site)
result is

Access denied
You are not authorized to access this page.

Expected result:  a nice web page describing all the wonderful third party tools or a message saying that this is now discontinued and the user should search at ....

Ted

[2017-06-07 00:23] liuzhe93 opened #24 "Some Questions About .obo Format Files"
Dear Professor,
       Hello!
       Now, I research that “Comprehensive Identification of Cell Fate Decision-related ncRNAs in Human”. So far, I’ve read your paper “OBO-Edit—an ontology editor for biologists.”.
       I'm very interested in your work that “OBO-Edit—an ontology editor for biologists.”. For identification of ncRNA (particularly lncRNA and miRNA), we need firstly that systematically

[2017-06-07 00:29] kltm commented on #23
@tedgoldstein

Thank you for pointing this out. Unfortunately, that URL went stale a long time ago; would you know where in the documentation you found it?
We've updated the URL to redirect to a page that briefly discusses the discontinuation of the GO Tools Registry.

Thank you for your help!

[2017-06-07 00:29] #23 closed

[2017-06-07 00:30] kltm commented on #23
My apologies, to further clarify, at this time, the GOC does not make explicit recommendations about tools or the best ways to find them. The best path forward on this is under discussion.

[2017-06-07 01:06] cmungall commented on #24
Liuzhe,

First, I don't think OBO-Edit is useful for your purposes, it's an ontology editor.

Second, it looks like your question doesn't have anything to do with the Gene Ontology, so it's out of scope for this tracker. I'm fairly sure your question pertains to the FANTOM5 sample ontology. It just so happens I am also responsible for this ontology as well as working on GO. However, I'm not sure I

[2017-06-07 01:06] #24 closed

[2017-06-07 02:08] liuzhe93 commented on #24
Dear Professor,
        Thanks for your reply.
        Thank you for your kind help and email. I will try ask some
questions via biostars web site.
        Thank you very much!
Sincerely,
Liuzhe
Key laboratory of RNA biology, the Institute of Biophysics, Chinese Academy
of Science, China.
15 Datun Road, Chaoyang District, Beijing City, 100101, the People's
Republic of China
web site: http://englis

[2017-06-07 02:08] liuzhe93 commented on #24
Thanks for your reply.
        Thank you for your kind help and email.
        Thank you very much!

[2017-06-08 11:51] ValWood commented on #22
Hi,

Can anyone help with this? @cmungall
I know I have seen this question answered on Jira, but I don't think this archive is available.

The user has mailed our helpdesk again, and I am on vacation so I don't want it to slip through the cracks.

The user mentioned using python.... but I guess  any  method would do...

[2017-06-08 15:37] cmungall commented on #22
python, perfect. We can demonstrate this with a notebook like this: https://github.com/biolink/ontobio/blob/master/notebooks/Remote_Ontology.ipynb

I'd like to build up a large library of these notebooks as part of our FAQ (and they can easily be replicated as simple scripts).

@dougli1sqrd can you take this one? I can help. Let's do PomBase:SPBC11B10.09 as our example. I'll start it off.

[2017-06-08 15:51] cmungall commented on #22
Don't send it out yet, first pass: https://github.com/cmungall/go-notebooks/blob/master/Annotations_for_a_Gene.ipynb

[2017-06-12 11:23] mirandajarnot opened #25 "Error in GO 0097710 viral terminase, small subunit"
The PT for this concept specifies the small subunit, but it also has an SY that is the large subunit.  Perhaps this is a typo and should read "small" for the SY as well:

viral terminase, small subunit [GO2017_04_28/PT/GO:0097710]
virus terminase, large subunit [GO2017_04_28/SY/GO:0097710]

There is another existing concept for the large subunit:

viral terminase, large subunit [GO2017_04_28/PT/GO

[2017-06-12 16:23] kltm commented on #25
@ukemi I guess I will randomly choose you as the rep for https://github.com/geneontology/go-ontology for this.
Should this be ported over to that tracker?

[2017-06-12 16:45] ukemi commented on #25
@ktlm Yes, port this over to the ontology tracker and I will assign it to an appropriate editor.

[2017-06-12 17:27] kltm commented on #25
This issue was moved to geneontology/go-ontology#13636

[2017-06-12 17:27] #25 closed

[2017-06-13 09:11] ValWood commented on #22
I told our user to follow this ticket so I can close in our help-desk.

I had a look at the first pass. That looks OK for cdc2 (direct only?)

Notebooks sound cool....
Happy to check any examples.

[2017-06-15 07:25] ValWood opened #26 "automatic resolution of annotation disputes"
Annotation disputes are automatically resolved after 90 days with the message

If you are happy that the issue raised in your dispute has been addressed, then you need take no further action. If, however, the issue still stands,
then you should contact the group responsible for the annotation....

Can this be prevented?
The dispute should stay open until fixed....
Some fixes take more than a few m

[2017-06-16 00:10] vdhankani opened #27 "GO accession IDs for GO Molecular Function gene sets"
I'm trying to find GO accession IDs for all the gene sets in the GO Molecular Function category. It seems like a very straightforward query, but I've spent several hours on it trying GO ftp service, Amigo, Ensembl Biomart, all without success. Please suggest a solution.

[2017-06-16 00:21] kltm commented on #27
@vdhankani
Just to clarify what you're looking for here, for each of the ~800k gene products that have annotations to terms under `molecular_function`, for each one of those gene products, you want a complete list of all transitive and intransitive GO terms under `molecular_function` that it is associated with. Would that be a correct formulation of what you're looking for?

For AmiGO, while any o

[2017-06-16 00:25] kltm commented on #27
I think that command line tools might be the way to go here (assuming my formulation is correct). @cmungall can you think of anything for the transitive case? For intransitive, the GAFs plus a combination of grep/cut/sort/uniq would probably be fine.

[2017-06-16 00:26] kltm commented on #26
@ValWood
I'm honestly not sure where discussion of GO policy should go, but I don't think the right eyes are on the helpdesk for this to have a clear course of action.
It might be better to get this onto one of the manager's boards...

[2017-06-16 00:50] cmungall commented on #27
@vdhankani I think when you say 'gene sets' you mean ontology terms?

 1. Go to http://amigo.geneontology.org/amigo/search/ontology
 2. Under 'ontology source' select 'molecular function'. Total terms will drop to ~ 11k
 3. Click 'custom DL' (for download). You can customize the fields, but it sounds like the default 2 should work for your purposes
 4. Click 'download'

Let me know if I misunderst

[2017-06-16 05:19] ValWood commented on #26
Will begin by asking Tony, (I can't assign tickets on this tracker)
@tonysawfordebi
Normally I would mail Claire but I'm not sure who to ask now.

Can be escalated if Tony can't action it......

[2017-06-16 08:16] tonysawfordebi commented on #26
As was explained in the email that was sent to all users of Protein2GO that announced that we were planning to implement this feature, we only auto-resolve disputes that concern annotations from external groups (i.e., those that don't use Protein2GO as their GO curation tool).

We don't store any information about external disputes in the database other than the details of when they were raised an

[2017-06-16 08:38] ValWood commented on #26
I'm not a protein2GO user....I only use it for disputes.

I think GitHub would be a better mechanism for disputes longer term. I'm finding them really difficult to track via protein2GO, so I'll use GitHub after the current batch.

Can anyone remind me where the GitHub ID look-up info  is kept?

val

[2017-06-16 13:37] holtgrewe opened #28 "Bug in go.obo?"
Hi, I think I found a small bug in the file `http://www.geneontology.org/ontology/go.obo`. Could you confirm or explain to me why this is intended behaviour?

The change is `GOC: bmeldal` to `GOC:bmeldal` without the space. I think in OBO v1.2, after the space in a dbxref there has to be a quoted string. I think here, the space is incorrect.

Cheers!

[code]

[2017-06-16 15:12] cmungall commented on #28
Thanks @holtgrewe - you're right there was a mistake, but it was actually in the previous version. Identifiers (including identifiers for curators) must *not* contain spaces.

It is fixed now, but the bug in the previous version should not have escaped. I had thought we had rigorous checks on the IDs but it seems not, I will go back and check, and link back to this ticket.

[2017-06-16 15:12] #28 closed

[2017-06-16 20:55] kltm commented on #26
@ValWood I'm not sure what you mean by the GitHub ID look-up info in this context.
Any user can see what theirs is by logging in, clicking on their icon in the far upper-right in the menu bar, and selecting "Your profile".
As far as other GO user metadata goes, that can be found here: https://github.com/geneontology/go-site/blob/master/metadata/users.yaml

[2017-06-18 11:17] ValWood commented on #26
There is a  spreadsheet somewhere (created by @dosumis  I think) which provides the point of contact for each curating group?

[2017-06-18 11:30] dosumis commented on #26
https://github.com/geneontology/go-ontology/blob/master/curator_group_contacts.tsv

[2017-06-18 12:12] ValWood commented on #26
Thnaks @dosumis

[2017-06-19 04:28] #26 closed

[2017-06-19 06:10] LujingF opened #29 "problems with decompress go assocdb-tables.tar.gz file"
I have downloaded the latest go-assocdb-tables.tar.gz file for mysql, however, I found that it couldn't work when I use the command 'gunzip' or 'tar' to decompress this file. while I can use the 'tar' to decompress the termdb-tables.tar.gz. So, how I can fix this problems and any useful answers would be appreciated

[2017-06-19 06:32] kltm commented on #29
@LujingF
Could you provide a link to the file that you are having trouble with?

[2017-06-19 07:23] LujingF commented on #29
well, here is the link http://archive.geneontology.org/latest-full/go_monthly-assocdb-tables.tar.gz

[2017-06-19 08:22] kltm commented on #29
@LujingF
Well, on Ubuntu 16.04, with
[code]
and
[code]
the following worked:
[code]
Interestingly, the usual `tar -zxvf go_monthly-assocdb-tables.tar` reported
[code]
Odd that, I wonder if it has to do with file size...

[2017-06-19 08:59] LujingF commented on #29
yeah, exactly! I have same problems. do you know which previous version is available for this go assocdb-tables data? maybe I can use the older version data for annotation

[2017-06-19 18:17] kltm commented on #29
@LujingF
The data can be decompressed just fine, just in a two step process as outlined above, so there is no need to use a different data set.
If you want to use a previous one, you can look at the contents of http://archive.geneontology.org and find the one that works best for you. Due to pipeline changes, there will be no further mysql dumps produced, in favor of switching to blazegraph as the

[2017-06-20 00:33] LujingF commented on #29
@kltm I'm very appreciate for your help.

[2017-06-20 00:35] #29 closed

[2017-06-21 14:03] jeniferfrancis opened #30 "Can I perform term enrichment analysis for a species not listed in the enrichment tool?"
Hi
I am working on Streptococcus agalactiae and streptococcus equi, is there any chance for me to perform Enrichment analysis because I couldn't find the organisms in the list.
thanks

[2017-06-21 14:45] monicacecilia commented on #30
Hi @jeniferfrancis,

The Term Enrichment tool on the GO and AmiGO websites __centers only__ on data from the genomes available on the [PANTHER Classification System Database](http://go.pantherdb.org); that is, if the species is not listed there, then data from that species is not available for enrichment analysis using our Enrichment tool.

A few alternatives for organisms not included in the data

[2017-06-27 15:54] cheanney opened #31 "GO's fully update"
Hi,

I noticed http://archive.geneontology.org/latest-full/go_monthly-assocdb-tables.tar.gz is not been updated for several months now (the last update was in JAN). I am wondering if there will be updates soon.

Thanks,

Anney

[2017-06-27 20:04] kltm commented on #31
@cheanney

We are in a bit of a transition period right now, but there will be no further builds of the full database. For more details, please see the discussion on this issue: https://github.com/geneontology/helpdesk/issues/4

[2017-06-27 20:04] #31 closed

[2017-06-27 20:04] #30 closed

[2017-06-27 20:05] #27 closed

[2017-06-27 20:06] kltm commented on #17
@cmungall Any firther action here?

[2017-07-01 21:19] urielsinger opened #32 "python code to extract _direct_ protein-protein interactions"
Hey,

Is there any easy way to extract **direct** (Homo sapiens) protein-protein interaction in python code?
I'm struggling as a beginner..

All I need in the columns: The two protein names, interaction type and PMID

Thank you!
Uriel

[2017-07-02 01:33] kltm commented on #32
@cmungall Would you have anything for this?

[2017-07-04 02:34] cmungall commented on #32
Hi there

Following on from #15 can I just clarify:

GO is not a protein-protein interaction database. GO is for describing the function of gene products. Sometimes that involves describing interaction partners of a gene to give more context for a function.

Are you interested in

 1. querying human protein-protein interaction data in general from a variety of sources (biogrid, intact, etc)?
 2. t

[2017-07-04 03:24] urielsinger commented on #32
Im interested in 1.

Furthermore, I'm not a biologist so I thought maybe I can extract from go someway direct interactions between proteins.
I would love a biological explaination why I was confused :)

[2017-07-04 14:05] sarabenm opened #33 "GO enrichment"
Hi,

I have a list of GO1 (associated to amino acid Sequences of interest) and a list of GO2  (associated to Subjects aligned to the sequences of interest by blastp).

There's no specific organism (either Eukaryota, either Bacteria)

Would there be a tool in order to compare the GO enrichment between the two GO sets or better  between each GO set and the background ? In order to see if one set is

[2017-07-05 14:46] woundhealing opened #34 "Creating a user defined GOSlim"
Hello,
I have some proteomics data in the context of wound healing and inflammation. To categorise these proteins, I would like to create a user-defined GOslim for this specific context.

I am quite new to GO and am unsure of what the current tools available for creating GOslims are. Is there a method for creating a GOslim without too much user bias? For example, taking the most enriched categorie

[2017-07-05 15:01] cmungall commented on #32
Yes, GO does include PPI annotations but it's not the primary purpose of GO. You may be better going to another database, or aggregating. I can provide some code that helps. But it may help to know more about your broader goals. You may also want to do a broader review of the landscape of PPI databases and evaluate which fit your needs best

[2017-07-05 17:46] kltm commented on #34
@cmungall Do you think somebody in the ontology group could help out?

[2017-07-05 17:47] kltm commented on #33
@cmungall I don't think that any of our current tooling does this directly?

[2017-07-05 18:35] cmungall commented on #33
@sarabenm I'm trying to frame your question in a way where we can make a statistically meaningful test, but am having trouble.

You could certainly do a enrichment test of a gene set `G` (your sequences of interest), using the whole genome as a background. You could also take all blast hits of all members of `G` in species `S`,  call this `G(S)` and do an enrichment test of this against all genes

[2017-07-06 00:50] cmungall commented on #32
Here is an example of code to extract the binding partner information from a GO association file: https://github.com/geneontology/go-notebooks/blob/master/PPI_from_GAF.ipynb

[2017-07-06 17:30] mcourtot opened #35 "Use map2slim without input GAF"
As per email:

Hi Anna,

You should be able to run the go slim mapper Maxim pointed to at https://github.com/EBISPOT/slim-o-matic/tree/master/go_slim_mapper

A few notes:
- We were using a specific GO obo file (in the GH repo) as we wanted to slim only against some relations. IIRC we excluded regulates. As indicated at https://github.com/owlcollab/owltools/wiki/Map2Slim, you could also use the go

[2017-07-06 17:32] mcourtot commented on #35
There is probably a more elegant option to use map2slim without creating a fake GAF; perhaps an option could be added to the script? @cmungall?

[2017-07-06 17:40] mcourtot commented on #34
Hi @woundhealing,

We did something I believe similar to build a specific GO slim based on a metagenomics dataset, and visualise categories. The code and corresponding paper is available at https://github.com/EBISPOT/slim-o-matic

The idea was using the dataset available and generate the slim based on this. Note that this is a semi-automated method: you would still need to look at your generated s

[2017-07-07 12:58] sarabenm commented on #33
Thank you for your answer

[2017-07-07 19:39] #33 closed

[2017-07-10 10:50] apinharanda opened #36 "PANTHER webiste down for maintenance"
Hi,

Since Satruday the PANTHER website seems to be down for maintenance (http://pantherdb.org) and
I was wondering whether you were aware of this as when I check your status page it seems to indicate everything is working fine.
Do you have any predictions of when the service will be resumed?

Thank you in advance,

Best,

Ana

<img width="1166" alt="captura de ecra 2017-07-10 as 11 47 19" src="ht

[2017-07-10 15:29] cmungall commented on #36
@kltm - any idea why the false positive on the status page?
@mugitty - do you have an estimate of when panther/enrichment will be up again?

[2017-07-10 17:40] kltm commented on #36
@cmungall The "test" just checks if a page is there, it doesn't run an analysis.
If we at some point graduate to cachet.io, we can get a lot more serious.

[2017-07-10 19:11] cmungall commented on #36
thanks @kltm good to know

@mugitty informs us that the panther service is up again so I will close this

[2017-07-10 19:11] #36 closed

[2017-07-12 18:07] urielsinger commented on #32
Thank you for the great suggestions. It helped me a lot to understand what I need to do.

[2017-07-12 18:20] #32 closed

[2017-07-12 20:35] Shellerstedt opened #37 "Change GO:0033309 Description"
Hi, a user (montero@bioqmed.ufrj.br) wrote into SGD helpdesk about a change to this description (GO:0033309 SBF transcription complex). See below.  Can someone please change this.

Thanks,
Sage Hellerstedt (SGD, Biocuration Assistant)

"Description: A protein complex that binds to the Swi4/6 cell cycle box (SCB) promoter element, consensus sequence CRCGAAA, and activates transcription during the G

[2017-07-19 08:07] fra-gh opened #38 "Pfam2go download is corrupt"
The pfam2go file http://geneontology.org/external2go/pfam2go is just an error message.
interpro2go, smart2go, and other files updated on Jul 16 have the same issue.

Can it be fixed? Thanks.

[2017-07-19 17:44] kltm commented on #38
@fra-gh Our apologies for the outage--this should now be fixed: https://github.com/geneontology/go-site/issues/411#issuecomment-316298816

[2017-07-19 17:44] #38 closed

[2017-07-19 17:46] kltm commented on #37
@ukemi Sorry to tag you, but would you know the best place/formulation for this item?

[2017-07-19 17:51] ukemi commented on #37
No worries @kltm.
This looks like an ontology request to tweak the def where someone has just switched the members. Is there a way we can just move this to the ontology tracker or do I need to copy it over?

[2017-07-19 17:54] ukemi commented on #37
PMID:19150335 supports this change.

[2017-07-19 18:16] kltm commented on #37
This issue was moved to geneontology/go-ontology#13943

[2017-07-19 18:16] #37 closed

[2017-07-19 18:18] kltm commented on #37
Removed user's email address.

[2017-07-19 22:08] jzqin opened #39 "Discrepancy between AmiGO and remote MySQL-amigo server database"
Hi,

I have a question about how AmiGO queries the Gene Ontology database. I have a found a couple instances of AmiGO queries matching gene products to terms that differs from queries I make locally on a copy of the MySQL GO database.

For instance, when I search AmiGO for the gene _Herc2_ in _Mus musculus_, 21 annotations are returned. However, when I connect via mysql to the latest version of th

[2017-07-19 22:16] kltm commented on #39
@jzqin Apologies for a quick answer.

I suspect what you're seeing is essentially the difference between the "assocdb" and the "full" db:
http://www.geneontology.org/page/lead-database-guide#dbtypes
While AmiGO is no longer directly driven by an SQL backend, the data load that it does use is more similar to the "assocdb" load in that it does not include the full IEA set. You should see more simila

[2017-07-20 22:25] jzqin commented on #39
Your solution did the trick. Thank you! I see that I can get access to the graph through https://github.com/geneontology/go-graphstore/

The README says that the build isn't stable - do you know when a stable build will be released?

[2017-07-20 22:31] kltm commented on #39
@jzqin
No problem.
Unfortunately, I cannot give you a firm date other than "ASAP". This transition is currently a main focus of our group, but we are still testing.

[2017-07-20 22:31] #39 closed

[2017-07-28 11:11] NatalieThurlby opened #40 "GO-UBERON annotation queries"
I am wondering if there is any guidance for using the annotations between GO and other ontologies (e.g. UBERON), specifically with respect to propagating annotations between two ontologies.

I am trying to do some research about the tissue-specific gene expression (related to genes being more highly expressed in tissues which they effect) and I'm trying to use GO-UBERON annotations as part of this

[2017-07-28 15:09] cmungall commented on #40
Hi Natalie,

All of the relation composition rules used by GO are in the RO. Most of these are visible by looking at the PURL, e.g

http://purl.obolibrary.org/obo/BFO_0000066

![image](https://user-images.githubusercontent.com/50745/28723329-459d87a0-736b-11e7-83d5-d42947261f1a.png)

You can also see these in Protege. Let us know if you need help understanding the OWL constructs, the main ones for

[2017-07-28 15:10] cmungall commented on #40
@geneontology/ontology team - we should have better user-facing documentation for this, and I think it would be good to have in our internal editors guide docs, what do you think?

[2017-07-28 15:11] cmungall commented on #40
@NatalieThurlby - you will also want to use annotation extensions where possible as these will give you greater tissue specificity. Let us know how you get on!

[2017-07-31 03:25] pengyu opened #41 "How to find all hormone receptors?"
Are you aware of a complete list of hormone receptors?

It seems that GO does not have a term for all hormone receptors. (If so, should GO add such a GO term?)

The wiki page is incomplete.

https://en.wikipedia.org/wiki/Hormone_receptor

The following is a database of hormone receptors (the symbols are pasted below). But I am not sure how complete it is.

http://crdd.osdd.net/raghava/hmrbase/npho

[2017-07-31 18:00] kltm commented on #41
@ukemi Sorry to bother, but if you have moment could you do a first pass triage?

[2017-07-31 21:38] #40 closed

[2017-07-31 21:40] arolni opened #42 "newer COG2go version?"
Hi there,
I'm looking for a newer version of COG2go database, do you know where I can get them?
Thanks,
arolnij

[2017-07-31 21:50] monicacecilia commented on #42
Hello @arolni, unfortunately, this mapping file is no longer being constructed and its generation is not supported. Last available version is from 2010/01/27, found at http://geneontology.org/external2go/cog2go

[2017-07-31 21:50] #42 closed

[2017-08-02 14:55] ukemi commented on #41
No problem @ktlm. I have been thinking about this for the past few days. I suspect that we do not have a distinct terms because of the issues of defining what a hormone is with respect to roles of molecules and the universality of how they act. The best way that I can think of to get the list would be to get the set of gene products annotated to 'hormone-receptor signaling pathway' or any of its c

[2017-08-02 16:59] kevinrue opened #43 "Question about logo usage"
Hello!

I read the [citation policy](http://www.geneontology.org/page/go-citation-policy#GO_Logo) but still wanted to make sure with you guys that you're happy with me using the GO logo in my Bioconductor sticker logo as can be seen [here](https://github.com/kevinrue/BiocStickers/blob/master/GOexpress/GOexpress.png)

My package is primarily designed to run on GO annotation data, which is what my l

[2017-08-02 20:22] kltm commented on #43
@kevinrue
I think that if you are following the terms in the citation policy and CC BY 4.0 you should feel fine.
The one think that we like to avoid is any implied endorsement or sanctioning of a particular project or piece of software, unless it has gone through an official internal vetting process (and it would then show up in our official documentation anyways).
Now, all that said, personally,

[2017-08-02 20:22] #43 closed

[2017-08-05 12:06] jar398 opened #44 "Wrong media type for .obo downloads"
The media type for `http://purl.obolibrary.org/obo/go.obo` is rdf+xml, which is wrong. I don't know what it should be - text perhaps - but it shouldn't be rdf+xml.

[code]

[2017-08-05 22:24] kltm commented on #44
@jar398 Thank you for bringing additional details. This ticket is currently being handled on the pipeline tracker: https://github.com/geneontology/pipeline/issues/8

[2017-08-05 22:24] #44 closed

[2017-08-06 14:38] jar398 commented on #44
Thanks for looking into this. By the way that URL (https://github.com/geneontology/pipeline/issues/8) gives a 404. Perhaps the repository is private.

Jonathan

[2017-08-06 20:59] kltm commented on #44
Ugh, yes, private repo--thank you for pointing that out. Rest assured that this is a high-priority item.
The repo will be opened as soon as we do a final sweep to ensure that there is no leaked information.

[2017-08-10 22:07] dhldhl opened #45 "number of curated papers"
Hi, I'm trying to estimate how many papers have been curated for GO. This can be broken down into several more specific questions:

1) how many papers contain EXP annotations.
http://amigo.geneontology.org/amigo/base_statistics#experimental-annotation-publications-by-assigner

The last figure on this page has some numbers, but they appear to be high. For example, according to Fig 3, there are arou

[2017-08-10 22:12] kltm commented on #45
@dhldhl Hey there!
I suspect the information you want, and why the numbers are "off", is to be found in this issue thread: https://github.com/geneontology/amigo/issues/429 (and a side trip to https://github.com/geneontology/amigo/issues/364)
For the number that people typically want, there needs to be another filtering step in the generation.

[2017-08-10 22:32] dhldhl commented on #45
ah, thanks!
in geneontology/amigo#429, there is a table (copied here but format messed up). The numbers in that table look more realistic. Is the last column the # of references that have EXP annotations (or close estimate)?

Stats from @RLovering:
NAME			       ANNOTATIONS REFERENCES     ------------------------------ ----------- ----------     RGD				     52957	20341     MGI				    104462	17988

[2017-08-10 23:07] kltm commented on #45
You'd have to ping @RLovering to learn exactly how that table was generated--I cannot find the email at the moment.
I've iterated a bit on what @cmungall mentioned in https://github.com/geneontology/amigo/issues/429

[2017-08-14 00:38] cmungall opened #46 "secretome and membrane receptor profiles"
Can we use GO to give a satisfactory answer for:

https://bioinformatics.stackexchange.com/questions/2241/secretome-and-membrane-receptor-profiles/2268

[2017-08-14 16:20] cmungall commented on #46
See my comments on the ticket for the part about querying for membrane proteins.

Can we use GO to obtain the 'secretome'? In GO, "being secreted" is not a function. We annotate gene products that perform some function as part of secretory pathways, but we don't annotate gene products that are secreted.

However, we should still be able to find some secreted proteins. For example, if we look at ex

[2017-08-30 13:41] cornett opened #47 "latest-full/go_monthly-assocdb-tables.tar.gz"
The following file is dated Jan 2017:

http://archive.geneontology.org/latest-full/go_monthly-assocdb-tables.tar.gz

In prior years, this file was updated 5-6 times per year.    Has the policy changed, or is some technical problem with monthly updates?

Thanks !

[2017-08-30 19:00] kltm commented on #47
@cornett
Our apologies for the inconvenience. We are in a bit of a transition period right now, but there will be no further builds of the full database. For more details, please see the discussion on this issue: https://github.com/geneontology/helpdesk/issues/4
We are just completing our pipeline for the new SPARQL endpoint, and will have a beta development snapshot available later today.

[2017-08-30 19:23] #47 closed

[2017-08-30 19:24] #45 closed

[2017-08-31 13:03] RLovering commented on #45
QuickGO can give you this information, using the filters and the stats tabs

[2017-08-31 14:25] cornett commented on #47
Thanks for clearing that up.

[2017-08-31 15:48] NatalieThurlby opened #48 "Querying go-plus.owl with SPARQL in Protege to retrieve GO-UBERON annotations"
Hello,

This is partially related to my last issue (https://github.com/geneontology/helpdesk/issues/40).

I am trying to do some research about the tissue-specific gene expression (related to genes being more highly expressed in tissues which they effect) and I'm trying to use GO-UBERON (and GO-CL) annotations as part of this work.

For example, I would like to have a list of all GO terms which oc

[2017-08-31 17:34] kltm commented on #48
Tagging @cmungall .

[2017-08-31 17:39] #41 closed

[2017-08-31 17:42] #35 closed

[2017-08-31 17:43] #34 closed

[2017-08-31 17:44] kltm commented on #22
@cmungall @dougli1sqrd We should open a ticket for this item in the appropriate tracker and close this one out.

[2017-08-31 17:45] kltm commented on #17
@cmungall Please reopen if there is further action here.

[2017-08-31 17:45] #17 closed

[2017-08-31 21:44] cmungall commented on #48
You can try

[code]

on http://rdf.geneontology.org/blazegraph

This will give all class axioms linking GO to UBERON.

[2017-08-31 21:57] #48 closed

[2017-09-01 17:15] RobertWBaldwin opened #49 "adjuted P-values are all 1"
Hi,

When using GP enrichment analysis I used a set of ExAC constrained genes as my reference set (~10100) and looked for enrichments in my input set of ~500 genes. I got a lot of enrichments > 2 but all my p-values after correction for multiple testing were 1. If there were three genes in the ref set that map to a process and you get all 3 of those in the input set the adjusted p-value will be 1,

[2017-09-01 17:34] thomaspd commented on #49
This is probably expected behavior, as the test is behaving properly on our standard validation sets.  But just to look more closely, you can try unchecking the box that selects the Bonferroni correction, and re-run the analysis.  You should see the unadjusted P-values then, and these should not be all 1 (and you can even check the unadjusted P value using an online binomial test).  But if you sti

[2017-09-01 19:05] RobertWBaldwin commented on #49
Yes the unadjusted p-values are all there and not 0. I was using the correction for multiple testing. What good are unadjusted p-values? The problems is that if for some process 3 genes are in the refg set and I see all 3 in the input set that is not significant after correction. In short, it was logically impossible, no matter what genes occured in the input set, to get a significant p-value. Hen

[2017-09-06 18:34] iamdna opened #50 "GO powerpoint presentations"
Hello there,

A collection of old GO ppts were available on the wiki or the website. I can't locate them. Can you please point me to those?

Thanks,
Rama

[2017-09-07 08:49] kltm commented on #50
It's possible that there are actually still in the old SVN. Anonymous SVN access information can be found here:
http://geneontology.org/page/svn-help

From there, I believe what you're looking for is in: `teaching_resources`.

[2017-09-07 17:43] iamdna commented on #50
Thanks Seth. Hope all is well at Berkeley. I moved to Genentech recently (from Personalis).

Rama

[2017-09-07 22:51] kltm commented on #50
Hey Rama!
All is good here; I hope your new digs are treating you well!

[2017-09-07 22:51] #50 closed

[2017-09-08 06:30] YangDing-github opened #51 "About statistics of available lncRNA annotations in current GOA"
Hi,

Currently we need some statistics regarding the lncRNA annotations available through GO; specifically, we'd like to obtain a list of lncRNAs annotated on GO (from all possible species), along with their annotations.

I tried to search for some lncRNA (e.g., Xist, Hotair) and found some hits, but we don't know how to find all of them. I also tried to download the entire GOA dataset and find ou

[2017-09-08 11:39] kltm commented on #51
@ukemi Would you perhaps have any ideas for this?

[2017-09-08 12:27] ukemi commented on #51
I don't know how to do this for all species. You can search for mouse lncRNA-encoding genes at Mouse Genome Informatics using the 'Genes and Markers Query Form'. Retrieving those and then doing a batch query can at least provide a start.

[2017-09-09 01:23] YangDing-github commented on #51
@ukemi Thanks for your suggestion. We will start from species popular in lncRNA studies and see what we can get.

[2017-09-09 02:11] #51 closed

[2017-09-13 11:12] janelomax opened #52 "TermGenie down?"
Hi - I'm getting an error for:

go.termgenie.org

HTTP ERROR: 503

Problem accessing /go-termgenie/. Reason:

    Service Unavailable

[2017-09-13 12:09] kltm commented on #52
@janelomax

I'm tagging on @cmungall , but I believe we are no longer supporting TermGenie; I believe we have entirely switched over to the ROBOT suite of tools.

[2017-09-13 13:02] cmungall commented on #52
https://github.com/geneontology/go-ontology/issues/13692

[2017-09-13 13:02] #52 closed

[2017-09-13 14:08] janelomax commented on #52
Good to know! Link on http://geneontology.org/contributing-go-term needs fixing. Well, the whole page needs fixing really.

[2017-09-14 21:32] Rfriedmancolumbia opened #53 "Different annotations in Gene Ontology"
Dear Gene Ontology Help Desk,

	I am not clear on the difference betweenthe links entitled

 Link to all direct and indirect annotations to canonical Wnt signaling pathway involved in osteoblast differentiation.

Linkto all genes and gene products associated to canonical Wnt signaling pathway involved in osteoblast differentiation.
Should they not be identical and symmetrical for any GO TERM?

In

[2017-09-15 00:46] kltm commented on #53
@Rfriedmancolumbia

`Link to all direct and indirect annotations to canonical Wnt signaling pathway involved in osteoblast differentiation.`
will take you to a page that allows you to search through `annotation` documents. An annotation is a set of GO term, gene product, evidence, and metadata. There are many more annotations than gene products, as there may be more than one annotation per gene pr

[2017-09-15 00:46] #53 closed

[2017-09-15 12:48] Rfriedmancolumbia commented on #53
Dear Kltm,

Thank you for your very clear explanation.

Best wishes,

Rich

________________________________
From: kltm <notifications@github.com>
Sent: Thursday, September 14, 2017 8:46:17 PM
To: geneontology/helpdesk
Cc: Friedman, Richard A.; Mention
Subject: Re: [geneontology/helpdesk] Different annotations in Gene Ontology (#53)

Closed #53<https://github.com/geneontology/helpdesk/issues/53>.

[2017-09-18 18:16] tberardini opened #54 "ontologies not loading from purls: something wrong with snapshot.geneontology.org?"
From here:

http://geneontology.org/page/download-ontology
Example:
http://purl.obolibrary.org/obo/go/go-basic.obo
leads to
http://snapshot.geneontology.org/ontology/go-basic.obo
leads to
XML Parsing Error: syntax error
Location: http://snapshot.geneontology.org/ontology/go-basic.obo
Line Number 1, Column 1:format-version: 1.2
^

Trying another avenue:
http://snapshot.geneontology.org/ontology/ext

[2017-09-19 08:00] kltm commented on #54
@tberardini As none of those are actually XML files, they will naturally not parse. I suspect what you're seeing here is just an expression of https://github.com/geneontology/pipeline/issues/8 .

[2017-09-19 08:02] #54 closed

[2017-09-19 16:24] kltm commented on #54
Yes, that scared the Cheerios out of me too when I first saw it. More smoke than fire though, although suuuuper annoying.

[2017-09-20 12:29] julie-sullivan opened #55 "GO evidence codes - download file?"
Hello wonderful GO people!

http://geneontology.org/page/guide-go-evidence-codes

I would like a flat file with the GO evidence codes and their associated names. (Descriptions too would be great.)

I can make this file myself of course but would be safer if used your up-to-date one. Does that exist? Sorry if this is obvious, I did look!

Thank you!!

[2017-09-20 14:53] drseb opened #56 "Cannot download x-metazoan-anatomy.owl"
Trying to load http://purl.obolibrary.org/obo/go/extensions/x-metazoan-anatomy.owl fails at the moment. It redirects to http://snapshot.geneontology.org/ontology/extensions/x-metazoan-anatomy.owl.

Has this file been removed?

ping @cmungall

[2017-09-20 23:11] kltm commented on #55
@julie-sullivan

Currently, we do not have a single page discussion of the evidence codes, just the page-wise documentation you found above.

Technically, under the hood, the GO uses ECO (http://evidenceontology.org/) , the three letter evidence codes are part of an historical development and treated as synonyms to terms within that ontology. @cmungall may have the best reference as to how we conn

[2017-09-21 08:02] julie-sullivan commented on #55
Thanks!!! That answers my question. :)

[2017-09-21 08:02] #55 closed

[2017-09-22 06:25] ggiaever opened #57 "select species"
how can you search/browse without having to reselect an organism of choice each time a new page is loaded

[2017-09-22 16:35] nstickney opened #58 "Ontology Issues"
The latest go.obo file available from `purl` today has some errors. If this is the wrong place to post this, please let me know!
- There is overlap between two namespaces:
    - GO:0038071 (`molecular_function`) `part_of` GO:0071507 (`biological_process`)
- There is cycle in the `molecular_function` namespace:
    - **GO:0042623** `is_a` GO:0016887 `part_of` GO:0061860 `is_a` GO:0003677 `part_of`

[2017-09-22 18:44] kltm commented on #58
@nstickney While this may not be a final home, this is a fine place to start.
@cmungall Would you have any ideas about this?

[2017-09-22 18:52] kltm commented on #57
@ggiaever I suspect that the issue that incorporates this is:

https://github.com/geneontology/amigo/issues/50

Essentially, AmiGO has no memory of the current search*, so navigating away from a page or using the back button will lose state.

A workaround for some of this is clicking the [bookmark] button over the results controls and clicking on the "this search" link--that will lock in your curr

[2017-09-22 18:53] #57 closed

[2017-09-25 13:47] cmungall commented on #56
These are all now rolled into go-plus. We're open to ideas about how to distribute the different slices and dices of this...

(I am in off-tracker conversation with seb so I will close this)

[2017-09-25 13:47] #56 closed

[2017-09-26 19:32] fochtmanb opened #59 "assocdb not available in obo format"
the lead database guide says that assocdb should be available in obo format
( http://geneontology.org/page/lead-database-guide )
however, this is not available in latest-lite or latest-full, will this file be made available soon?

[2017-09-26 19:54] kltm commented on #59
@fochtmanb
Our apologies--that appears to be an error in the documentation. Doing a quick sampling back in time, it appears that the OBO XML version of the assocdb has not been produced for at least five years.
At this point, due to the current pipeline being EOLed (see https://github.com/geneontology/helpdesk/issues/4), we are unlikely to start producing that file. In fact, many of these files wi

[2017-09-26 19:54] #59 closed

[2017-09-27 18:59] alanruttenberg opened #60 "Term Genie is down?"
Links such as the one at

http://geneontology.org/page/submitting-term-suggestions-go

In this case to the TermGenie Documentation Page, are broken, yielding:

    HTTP ERROR: 503
    Problem accessing /go-termgenie/help/index.html. Reason:
    Service Unavailable
    Powered by Jetty://

[2017-09-27 19:18] kltm commented on #60
@alanruttenberg
I've updated the documentation on that page to reflect this: TermGenie has been EOLed (earlier this year) in favor of ROBOT (https://github.com/ontodev/robot).
For more information on the transition, you may wish to contact @cmungall .

[2017-09-27 19:18] #60 closed

[2017-09-28 16:41] jjobee opened #61 "different GO results with Gene Symbols and ENSEMBL input"
I noticed that when I input the gene symbols or the ENSEMBL ids for the same list of genes, I get slightly different lists of GO terms.  I used the Term Enrichment Service on the AmiGO2 site, searching biological processes (mus musculus).  I would have expected the results to be exactly the same.  What is causing this and what should I do differently?

[2017-09-28 16:51] jjobee commented on #61
I just noticed that the number of unmapped reads differs as well.

[2017-09-29 00:52] kltm commented on #61
As this is to do with the PANTHER software suite, I'll ping @mugitty and @huaiyumi .

[2017-09-30 17:38] SocialAmbulator opened #62 "How do I find version numbers for GO releases?"
I am writing a paper citing GO as a source of information for a database which I downloaded. I was unable to see any version numbers on the download or anywhere else on the website so I didn't include it in the paper. Now one of the referees has come back at me on this. How do I find the info?

[2017-09-30 20:27] kltm commented on #62
@SocialAmbulator
If this was an actual MySQL database download that you used, you can find the information in the tabe `instance_data`.
For more information, please see:
http://geneontology.org/page/go-citation-policy#GO_Data

[2017-09-30 20:27] #62 closed

[2017-10-01 17:10] SocialAmbulator commented on #62
Thanks @ktm I should have said this was the go-basic.obo.txt file that I downloaded. On inspection the first two lines are:
format-version: 1.2
data-version: releases/2017-06-04
I assume the format-version had to do with the file format, so I presume I just cite the date.

David

[2017-10-01 21:48] kltm commented on #62
@SocialAmbulator
Yes, that, plus the filename (`go-basic.obo`), should give somebody enough information to recreate the environment in their pipeline.

[2017-10-01 22:34] SocialAmbulator commented on #62
Thanks

Sent from my iPhone

[2017-10-06 15:47] cheanney opened #63 "fully release GO annotations"
Hi,

I used to be able to download mysql dump files for the monthly release from ftp://ftp.geneontology.org/godatabase/archive/latest-full/
But this directory has not been update since 1/2017.  Could you point me to where I can download the same data?

Thanks,

Anney

[2017-10-06 21:24] #63 closed

[2017-10-10 15:13] HHugues opened #64 "Trying to access to the GO database mirror at the EBI - ERROR 2003 (HY000): Can't connect to MySQL server on 'mysql.ebi.ac.uk' (111)"
Hi,

That's three days now that I can't access the GO database mirror at the EBI by using the following bash command line :

`$ mysql -hmysql.ebi.ac.uk -ugo_select -pamigo -P4085 go_latest`
`ERROR 2003 (HY000): Can't connect to MySQL server on 'mysql.ebi.ac.uk' (111)`

(I tried it  on CentOS release 6.9  and Ubuntu 16-09)

Do you have information to share ? :)

Kind regards,
Hugues

[2017-10-10 17:29] kltm commented on #64
@HHugues
Unfortunately, we are in a bit of a transition period right now. There will be no further builds of the full database and as we wind down the EBI site may be suspending support for the full database mirror.
For more details on the transition, please see the discussion on this issue: #4
For querying, we are just completing our pipeline for the new SPARQL endpoint, and now have beta snapsho

[2017-10-10 17:29] #64 closed

[2017-10-11 07:10] tonysawfordebi commented on #64
That's correct.
We have switched off the mirror, but we can revive it if necessary. I wouldn't recommend that, however, as the data in it is now several months out of date.

[2017-10-12 09:47] HHugues commented on #64
Thank you both for the quick answer !

@ktlm
I will look into that.

@tonysawfordebi
It's not necessary if this type of procedure is out of date .

Best wishes,
Hugues

[2017-10-12 13:20] jjobee commented on #61
Any thoughts?

[2017-10-12 17:18] huaiyumi commented on #61
PANTHER uses the Reference Proteome data, which uses UniProt ID as the primary identifier, in the annotation gene set for the enrichment test. Gene symbol and ESEMBL IDs are converted to UniProt IDs using the idmapping file provided by Reference Proteome datasets. The differences you observed must result from their mapping.

[2017-10-13 05:25] kwatts59 opened #65 "GO Enrichment tool is timing out"
To GO Consortium,
As of today Oct 12, 2017, the GO Enrichment tool is timing out.
Even when I enter a single gene, the tool times out.
http://www.geneontology.org/page/go-enrichment-analysis
Ken

[2017-10-13 15:26] kltm commented on #65
@kwatts59
According to https://status.geneontology.org/ , we have had some outages in the last 24 hours. That said, it looks to be currently functioning. If it still does not work for you, we can dig further into the situation.

[2017-10-13 15:26] #65 closed

[2017-10-19 12:12] UndressK opened #66 "Ontology for Biomedical Investigations - OBI"
Hi there!
It is great what you have done to easily download ontologies from the AmiGO ontology search. I've downloaded some but I was wondering whether you were planning to incorporate also the Ontology for Biomedical Investigations (OBI) or the Cell Line Ontology (CLO) in the custom download.
Thanks

[2017-10-19 15:22] cmungall commented on #66
We don't have any plans to do this in the main public AmiGO - we only provide access to GO or to portions of other ontologies that are used to enhance GO annotations. For example, the cell type ontology (CL) is used to provide locational context, so it's possible to query for some cell types.

It is possible to run your own instance of amigo with whichever ontologies you like. You can open a reque

[2017-10-19 15:22] #66 closed

[2017-10-20 06:48] UndressK commented on #66
Hi Chris,

thanks for your message. I would ask for some assitance then.
If I got it right, the other ontologies that are not GO and you show in
AmiGO are not complete and I should download them directly from the OBO
foundry?

Thank you for your help

Andrés

On 19 October 2017 at 17:22, Chris Mungall <notifications@github.com> wrote:

[2017-10-21 18:29] cmungall commented on #66
This is correct

[2017-10-24 12:36] scfbio opened #67 "gene ontology ids date of submission"
I want to get the GO ids withe their date of submission.

[2017-10-24 20:27] kltm commented on #67
@scfbio
@cmungall may have other ideas, but I suspect what you want may be minable from the VCSs used for the ontology. That would be (more recently) geneontology/go-ontology and the legacy SNV http://geneontology.org/page/svn-help

[2017-10-24 21:28] cmungall commented on #67
Its the created by field. I don't think it's loaded into solr.  Can be
parsed from ontology file or queued by sparql

On Oct 24, 2017 4:27 PM, "kltm" <notifications@github.com> wrote:

[2017-10-24 21:31] kltm commented on #67
@cmungall I read that as a creation date, rather than creator.

[2017-10-26 04:56] WBjae opened #68 "Permission for Noctua"
Hello, I want to get a permission for the Noctua (Go-CAM).
I filled out and submitted the new user form already.
Can anyone at helpdesk review and grant the permit for me?
Thanks.

[2017-10-26 05:52] kltm commented on #68
@vanaukenk Would you confirm?

[2017-10-26 13:30] vanaukenk commented on #68
@kltm - Yes, Jae is a new WB curator who will be working on GO-CAM models.

[2017-10-26 19:58] kltm commented on #68
Fixing with https://github.com/geneontology/go-site/pull/449

[2017-11-06 10:35] corinabioinformatic opened #69 "Drill-down tree"
Dear GeneOntology HelpDesk,

Not sure what does it mean the numbers at the drill-down web page:
[http://amigo.geneontology.org/amigo/dd_browse](url)
If I didn't missunderstand:
-955007 is the number of annotated genes across all the species.
-809627 is the number of biological processes annotations
-737764  is the number of cellular component annotations
-773697  is the number of molecular functio

[2017-11-06 19:21] kltm commented on #69
@corinabioinformatic

For the main part of our data, there is a distinction between GO classes, as found in the OWL file, and the annotation data: http://geneontology.org/page/download-annotations .

AmiGO mixes the ontology and annotation data to produce what you see: http://amigo.geneontology.org/amigo/load_details .

[2017-11-06 19:21] #69 closed

[2017-11-06 19:24] #68 closed

[2017-11-06 19:24] #67 closed

[2017-11-06 19:25] kltm commented on #58
This issue was moved to geneontology/go-ontology#14508

[2017-11-06 19:25] #58 closed

[2017-11-06 19:26] kltm commented on #49
@thomaspd Is there any more action for this item, or should be change to a different tracker for this?

[2017-11-06 19:26] #61 closed

[2017-11-06 19:27] kltm commented on #46
@cmungall Is there any more action for this Helpdesk item, or can we close it?

[2017-11-06 19:28] kltm commented on #22
@cmungall @dougli1sqrd I'll close it out here, you can use issue mover to get it reopened in the right tracker.

[2017-11-06 19:28] #22 closed

[2017-11-07 00:21] thomaspd commented on #49
I agree this sounds strange, but there's not much more we can do to troubleshoot without trying your input (and reference) sets ourselves.  You can send them to the panther feedback email above if you'd like to try that.  But we will be releasing a new default test in the next couple of days, that uses the FDR to control for multiple testing instead of Bonferroni.  This will be less conservative.

[2017-11-07 00:22] #49 closed

[2017-11-07 10:38] Debatosh opened #70 "Annotation and InterPro function of Blast2GO"
Dear all,

Annotation and InterPro function of Blast2GO for preparing a customized background of gene GO ID association?

Input would be protein sequences of all the transcripts.

Output is Interpro and annotated file from Blast2GO, from which GO IDs can be combined to have transcript-GO association in excel.

Any comments, please?

Regards.

[2017-11-07 17:29] kltm commented on #70
@Debatosh
Could you please clarify your question and what you are trying to accomplish?

[2017-11-07 17:43] Debatosh commented on #70
Dear kltm,
I am currently working on Lotus japonicus for which v3.0 genome has been out last year.
However, for GO enrichment tests, there are very few softwares and even those use v2.5 IDs.

Therefore, I was using Blast2GO (using InterPro and Annotate) to annotate the DEGs list obtained from a transcriptomics experiment and then associate GO IDs with the respective DEGs, based on their protein se

[2017-11-07 17:44] #46 closed

[2017-11-07 17:47] kltm commented on #70
Does @geneontology/annotation have any ideas for this, or is outside the scope of what we'd normally handle in this channel?

[2017-11-08 11:11] Debatosh commented on #70
Dear all,
Thank you for the prompt reply.
Regards,
Debatosh Das.

On Wed, Nov 8, 2017 at 12:00 PM, almitchell <notifications@github.com>
wrote:

--
Dr. Debatosh Das,
Post-Doc (University of Munich),
Germany.

[2017-11-09 00:11] #70 closed

[2017-11-13 14:30] ebispence opened #71 "GO logo"
HI,

I have to create an artwork for EMBL-EBI that features Gene Ontology logo and was wondering if there is a monotone version for dark backgrounds etc?

Best regards

Spencer

[2017-11-13 16:55] rzelayafavila opened #72 "Probable errors in goa_uniprot_all_noiea.gaf file"
This file contains the following text on line 1439605, which is making my script fail:
`gzip: goa_uniprot_all.gaf.gz: unexpected end of file`.

Also, the very last line of the file looks like it is unexpectedly truncated:
`UniProtKB	V9VXB2	infB		GO:000`

This is the version information at the top of the file:
[code]
Thanks!
Rene

[2017-11-13 18:51] kltm commented on #71
@ebispence Unfortunately, besides the logos offered at http://geneontology.org/page/go-citation-policy#GO_Logo , we have no other official variations or sub-designs.

[2017-11-13 18:51] #71 closed

[2017-11-13 18:52] kltm commented on #72
@rzelayafavila Could you give us the URL that you used for this download and/or where you found it?

[2017-11-13 18:56] rzelayafavila commented on #72
Yes, of course, it is in the gene annotation files in ftp downloads:
`ftp://ftp.geneontology.org/go/gene-associations/goa_uniprot_all_noiea.gaf.gz`

[2017-11-13 21:51] Antonialock opened #73 "Old GAFs"
Hello,

I would like to know the whereabouts of archived GAFs (going back 10 or so years). I am only interested in human annotation so if filtered files exist that would be great.

Thanks!

[2017-11-14 01:39] kltm commented on #73
@Antonialock You're best bet would probably be going and just getting the files from http://archive.geneontology.org/ , which go back in some form or another until 2002. You may also want to look at the legacy GO SVN anonymous access: http://geneontology.org/page/svn-help .

[2017-11-14 01:39] #73 closed

[2017-11-14 02:21] kltm commented on #72
@rzelayafavila Thank you for your help. We've confirmed the issue on this end (if not the origin yet) and have tried to revert. This should hopefully be percolating out some time this evening. We'll be checking on this again tomorrow.

[2017-11-14 06:09] cmungall commented on #72
The problem is now fixed, thanks!

[2017-11-14 06:09] #72 closed

[2017-11-14 10:54] Antonialock commented on #73
Thanks! I didn't find the link to the archive on the website
(http://geneontology.org/page/download-annotations)

[2017-11-14 15:58] rzelayafavila commented on #72
Great, thank you!

[2017-11-14 18:50] kltm commented on #73
Hmmm....yes. Still here on this old page though: http://geneontology.org/page/ftp-and-cvs-downloads
Likely is was removed from the menus during a refactor. We'll need to rewrite a bunch of this...

[2017-11-16 03:06] belw27 opened #74 "Gene ontology for Sorghum bicolor"
Hi! I am wondering what has happened to Sorghum bicolor? I have used this species previously on the GO and PANTHER websites but it has now disappeared?
thanks
Belinda

[2017-11-16 20:17] kltm commented on #74
@cmungall @pgaudet
Any ideas if this was dropped out or fell below a threshold?

[2017-11-16 22:24] pgaudet commented on #74
I don't - @thomaspd  or @huaiyumi do you know ?
Was the species removed from the Panther families?

[2017-11-22 23:23] kltm opened #75 "nr database accession number to go term"
_From @LujingF on November 17, 2017 7:16_

Hi, I'm looking for an annotation file which contains nr database accession number and go term, but I cannot find it. I got the blastx result, so I wanna use the accession number to find its go term. How I can download such annotation file? Many thanks.

_Copied from original issue: geneontology/go-annotation#1693_

[2017-11-22 23:26] kltm commented on #75
Re-tagging @LujingF
@cmungall May have some further thoughts on this, but I do not believe that we provide any such annotation file. You may be interested in looking at the annotations download page at http://geneontology.org/page/download-annotations and considering a mapping script.

[2017-11-26 20:47] jaugusti opened #76 "Ontology Engineering"
Greetings,

I am a master student at Universidade Federal de Santa Maria and my research is about bioinformatics, more specifically cancer and ontologies. I am studying ontology engineering and would like to know what is the methodolody used for the construction, formalization and validation of Gene Ontology (like: Ontology Development 101 [NOY and MCGUINESS], On-to-Knowledge and METHONTOLOGY, etc

[2017-11-27 19:30] kltm commented on #76
@cmungall I'm guessing that this is probably a question for you.

[2017-11-27 19:31] kltm commented on #74
@thomaspd @huaiyumi
would you have any ideas about this issue?

[2017-11-29 22:33] huaiyumi opened #77 "go.obo download link doesn't work"
On the download page (http://geneontology.org/page/download-ontology), the go.obo and go_basic.obo download links don't work.
http://snapshot.geneontology.org/ontology/go.obo

[2017-11-29 23:58] kltm commented on #77
It actually works, we just have the wrong header. This causes some browsers to say there was an issue. If you look at the source or download it it should be fine.
https://github.com/geneontology/pipeline/issues/8

If this is not the issue, I'll reopen.

[2017-11-29 23:58] #77 closed

[2017-11-30 00:03] cmungall commented on #75
You can download mappings from the nr numbers to uniprot and use that to look up GO assocations.

It sounds like what you are trying to do is exactly what tools such as blast2go already do - why not use that directly

Note that we do not generally recommend using blast as an annotation propagation method. Have you considered using interpro2go instead?

[2017-11-30 07:47] pgaudet opened #78 "Can we set up automatic reminder of tickets assigned to the assigne (s)?"
From https://github.com/geneontology/go-annotation/issues/1388

We all need a way to be reminded which tickets are assigned to us!

Can this be done in some sort of "git hub" management mode (i.e select all tickets and send a message saying "you are the assignee of this ticket, please check if it can be closed").... A monthly alert......I will never look otherwise.... I think this would get a lot

[2017-11-30 12:45] martinhilbers opened #79 "where are qualifiers stored in the data ?"
If I go to a go annotations web page, like:
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=A0A0S7KW09
I see a column of qualifiers (enables, part_of, involved_in).

Where in the data (the assoc mysql database) is this coming from ? I can find 3 association_qualifiers in the terms table (colocalizes_with, contributes_to, not), but I can't find the qualifiers in the QuickGO output anywhere.

[2017-11-30 12:58] martinhilbers commented on #79
Oops - forget it - somehow I overlooked that that is from the EBI, and I should talk to them.

[2017-11-30 12:58] #79 closed

[2017-11-30 16:42] elliefewings opened #80 "Gene list discrepancies with Panther"
Hi,
I have been using the Gene Ontology enrichment analysis tool (biological process, Homo sapiens) and have noticed that the output table gives a different number of genes compared to searching for that term using Amigo. For example, if I search for genes using enrichment analysis that generate the term Double-Strand Break Repair, the term is said to contain 161 genes. When I search for this term

[2017-11-30 19:37] kltm commented on #80
@huaiyumi @thomaspd Would either of you be able to follow up on this question?

[2017-11-30 19:42] kltm commented on #78
For myself:
https://github.com/geneontology/go-annotation/issues/assigned/kltm

People hopefully have GitHub setup to receive emails when they are assigned or mention on a ticket, meaning that it would be up to them to use their email folders on their client to make that useful. Otherwise, GitHub provides no direct support besides making it trivial to click a link and see what is assigned--there i

[2017-11-30 19:43] kltm commented on #78
Any thoughts on this @cmungall ?

[2017-12-01 01:00] huaiyumi opened #81 "Ontology download links don't work"
The links to download go.obo and go_basic.obo are not working on the download page: http://geneontology.org/page/download-ontology

[2017-12-01 01:06] kltm commented on #81
@huaiyumi Did you seen the answer given here:

https://github.com/geneontology/helpdesk/issues/77

[2017-12-01 01:07] huaiyumi commented on #80
PANTHER uses the reference proteome dataset, which may contain a subset of all UniProt IDs. Also, PANTHER data is gene-centric, which means a gene is only represented by one UniProt ID. These maybe the reasons why PANTHER has less genes.

[2017-12-01 01:09] kltm commented on #77
As well, you can "right-click" on a link and do a "Save as..." and the file should download just fine.

[2017-12-01 01:10] huaiyumi commented on #81
I remember submitting one yesterday, but I can't find it in the thread, neither did I receive any emails.

[2017-12-01 01:12] kltm commented on #81
Not getting any emails may be due to how you have setup GitHub. Maybe there should be an SOP for users to set this up "right"? (also pinging @cmungall and @pgaudet for input there)

The original query was already closed at the link above: #77 .

[2017-12-01 01:24] #81 closed

[2017-12-04 09:21] elliefewings commented on #80
I see! Does this mean that some of the genes that were identified by Amigo and not by Panther could be duplicated genes with multiple UniProt IDs?

Thanks for your help!
Ellie

[2017-12-05 21:08] gvinterhalter opened #82 "OBO 1.4 grammar, id and xref_list"
I'm working on a LALR1 parser for obo files and I noticed that definition for GO:0150005 (and others)
has  href list: [GOC:bhm, IntAct: EBI-16417801, ...
There should be no white space after "intAct:" right?  (or at least it should be escaped? )

Also I wanted to ask if someone can clarify some rules for xref_list and qualifiers list.
The grammar never tries to limit characters like: ','  ']' '}'

[2017-12-05 21:33] kltm commented on #82
@cmungall This might be best answered from your side?

[2017-12-05 21:34] #78 closed

[2017-12-05 23:53] cmungall commented on #82
Do you absolutely need to support obo? https://douroucouli.wordpress.com/2016/10/04/a-developer-friendly-json-exchange-format-for-ontologies/

Correct.

best place for this is on the tracker here
https://github.com/owlcollab/oboformat

but will likely not get much action I'm afraid, will accept PRs for the spec if they conform to obo files in the wild and what the owlapi obo parser does

but I wou

[2017-12-05 23:53] #82 closed

[2017-12-08 15:46] dsptk2017 opened #83 "Add a GO term for "cold-induced thermogenesis" and the associated mouse genes"
I have curated a list of comprehensive genes  ( http://citgenedb.yubiolab.org) affecting cold-induced thermogenesis (CIT), which should be an "adaptive thermogenesis".
Could you help add this term and the gene list to GO? The process (http://geneontology.org/page/contributing-go) is a  little confused to me. Should this be considered as "ontology" or "annotations" or both on the following webpage?

[2017-12-08 21:28] kltm commented on #83
@vanaukenk @ukemi
What would be the best place for this request? Shall I bump it over to `go-ontology`?

[2017-12-09 01:11] pkarp111 opened #84 "GAF help page docs needed"
The following page should provide a description of the meaning of the lines in this file in the introduction.  As written it is missing the big picture for the reader...

 http://geneontology.org/page/go-annotation-file-format-20

[2017-12-09 02:05] kltm commented on #84
@pkarp111
Just to clarify, this document is intended for people interested in creating or parsing GAFs. Within the introduction, there is a link to more general documentation at http://www.geneontology.org/page/go-annotation-policies .

[2017-12-09 06:09] pkarp111 commented on #84
Yes, I'm aware of that.  Still, you want to describe not only the syntax
of the file format but the
meaning of the lines within the file.  A few sentences would do it.

On 12/8/17 6:05 PM, kltm wrote:

[2017-12-09 13:48] fidaner opened #85 "Wrong figure in documentation!"
Hello,
On this page: http://www.geneontology.org/page/ontology-relations
The figure just above the text "negative regulation of smoothened signaling pathway involved in ventral spinal cord patterning negatively regulates smoothened signaling pathway involved in ventral spinal cord patterning, ...." is wrong.

There's a copy & paste error in documentation. Will you correct and inform?

[2017-12-09 19:35] yotamfr opened #86 "Amount of Experimentally validated GOAnnotations dramatically decreased"
Hello GO team!

I recently updated my local database (MongoDB) of GeneOntology Annotations by downloading goa_uniprot_all.gaf and discovered that the number of **Experimentally** validated annotations has unexpectedly and dramatically decreased from 829,532 to 67846.

As I hold a copy of the data on a another machine, I know this change has happened somewhere between the dates 23/09/2017 and 04/12

[2017-12-10 21:12] kltm commented on #86
@yotamfr
Would mind supplying the URLs where downloaded these files from?

[2017-12-10 21:21] kltm commented on #85
@vanaukenk @ukemi Would one of you be able to take a look at the ontology documentations?

[2017-12-10 21:35] yotamfr commented on #86
Yes,

The noiea file I downloaded from:
http://geneontology.org/gene-associations/goa_uniprot_all_noiea.gaf.gz

The goa_uniprot_all.gaf I downloaded from:
ftp://ftp.ebi.ac.uk/pub/databases/GO/goa/UNIPROT/goa_uniprot_all.gaf.gz

Both contain only 67846 annotations of experimental codes (as for Dec 9 2017).

[2017-12-10 21:43] kltm commented on #86
@yotamfr
To clarify, you are looking at a drop in the experimental annotations available in the ftp://ftp.ebi.ac.uk/pub/databases/GO/goa/UNIPROT/goa_uniprot_all.gaf.gz file?
If this is the case, it may be best to contact them directly about file changes: https://www.ebi.ac.uk/GOA/contactus .

[2017-12-10 21:48] yotamfr commented on #86
Yes, this is the case. I sent them a message.

[2017-12-11 12:26] ukemi commented on #83
I think it should be two separate requests, one to request on the ontology tracker to request the term (we already have heat generation and homiothermy), so those might suffice. Alternatively we could add a separate term that is a child of both. For the new annotations, I think we should open a separate ticket on the annotation tracker. Do you agree @vanaukenk ?

[2017-12-11 17:04] cmungall commented on #84
Good point. We're doing a general overhaul of all docs in in January, but we should add the note in beforehand.

[2017-12-11 17:26] #86 closed

[2017-12-11 17:56] mdebellis opened #87 "Reasoner won't initialize for go-plus"
I've downloaded the ontology at: http://purl.obolibrary.org/obo/go/extensions/go-plus.owl to my local machine. I'm trying to load it into the latest version of Protege (5.2.0). I'm using the Pellet reasoner. When I try to initialize the Reasoner it seems to just hang. I tried it just now re-setting my preferences so that every box in the Protege preference tab was unchecked except for  "Individual

[2017-12-11 18:38] kltm commented on #87
@mdebellis
Unfortunately, we don't work on Protege and typically do not offer desktop support. That said, we do have several people who work a lot with that software and the GO that might be able to help.
@cmungall @ukemi @vanaukenk Would you happen to have any tips or ideas for @mdebellis?

[2017-12-11 19:00] cmungall commented on #87
You need to use an EL++ reasoner like Elk, Pellet won't complete for most mid sized bio-ontologies

[2017-12-11 19:00] #87 closed

[2017-12-11 19:01] cmungall commented on #87
See also

Mungall, C. J., Dietze, H., & Osumi-Sutherland, D. (2014). Use of OWL within the Gene Ontology. In M. Keet & V. Tamma (Eds.), Proceedings of the 11th International Workshop on OWL: Experiences and Directions (OWLED 2014) (pp. 25–36). Riva del Garda, Italy, October 17-18, 2014. http://dx.doi.org/10.1101/010090

[2017-12-11 21:18] ukemi commented on #85
It looks like there was a cut and paste error in this document. However, we plan to completely revamp the relations documentation in mid-January to correct and expand it with respect to the new annotation models. regulates_o_'part of' -> regulates will no longer be a valid inference.

[2017-12-12 00:25] kltm commented on #74
@thomaspd @huaiyumi
would you have any ideas about this issue?

[2017-12-12 00:26] #75 closed

[2017-12-12 00:26] kltm commented on #76
@cmungall Would you have any thoughts on this?

[2017-12-12 01:17] cmungall commented on #76
I suggest you join the obo-discuss mail list and ask there. The methodology GO uses is largely shared across OBO. http://obofoundry.org/

[2017-12-12 01:17] #76 closed

[2017-12-12 01:36] belw27 commented on #74
I have also found a feedback email address on the PANTHER website so hopefully they might come back with something.

[2017-12-12 02:15] #85 closed

[2017-12-13 12:06] priscilag opened #88 "Visualization creator for GO graph - advanced option in not working"
I have been trying to use the advanced format at visualization tool. But I'm getting a Bad Gateway (nginx/1.1.19).

The simple tool is working.

Thanks for the attention.

[2017-12-13 14:00] kltm commented on #88
@priscilag
Could you paste in the input that you're attempting to use?
It may be that the input that you're attempting is larger than the tool was originally designed for (many years ago).

[2017-12-13 14:11] priscilag commented on #88
Yeap, that was the problem. Now I know the tool support up to 54 terms. I
had 65.

Thanks!

[2017-12-13 15:29] kltm commented on #88
@priscilag Apologies for the trouble. We're hoping to give that tool a lick of paint soon so that is can support more terms and other inputs.

[2017-12-13 15:29] #88 closed

[2017-12-13 22:48] belw27 commented on #74
I received an email back from PANTHER and have copied in below fyi. No explanation as to why however. Thanks for your help.
"We released a new version of PANTHER a month ago, and made a small adjustment to genomes in our database. We added 10 more genomes, but removed Sorghum. I am sorry about the inconvenience. We are looking into ways to support genomes that are not in our database. Meanwhile, y

[2017-12-14 02:11] kltm commented on #80
@elliefewings Great--thank you!

[2017-12-14 02:11] kltm commented on #74
@belw27 Great--thank you!

[2017-12-14 02:11] #74 closed

[2017-12-30 01:42] juniorresearcher opened #89 "Question about Gene Ontology"
Hi,
I'm wondering what GO Class I should filter a list of proteins with in order to output only those that function as a cell surface receptor. What GO Class annotation (accession number/master class/children classes) should I use for this purpose?

[2017-12-30 20:24] kltm commented on #89
@juniorresearcher
Apologies--a response to this may be slow as the Holidays wrap up and people start warming up again.
It may be useful to give a bit more context about the analysis you're attempting, inputs, outputs, etc.

@ukemi @vanaukenk
If either of you had any ideas, would you be able to follow up with this at your leisure?

[2018-01-04 16:29] murphyte opened #90 "revision for GO.xrf_abbs"
Hi GO,

We occasionally get questions about HGNC and MGI dbxrefs, and a user noticed that the description in the GO.xrf_abbs file isn't quite correct:
ftp://ftp.geneontology.org/pub/go/doc/GO.xrf_abbs

For both HGNC and MGI, the *id* itself starts with "HGNC:" or "MGI:". That is, their IDs are NOT integers, but strings that include a prefix (similar to FlyBase FBgn###, but with a colon). So a prop

[2018-01-04 18:11] kltm commented on #90
@murphyte

To clarify a little about where our metadata comes from, the upstream file that we use to organize the xrefs is: https://github.com/geneontology/go-site/blob/master/metadata/db-xrefs.yaml. There is a process somewhere that converts that to the legacy GO.xrf_abbs format, but I'd have to poke around a little to dig that out.

That said, while MGI does have the "double" namespacing documen

[2018-01-04 18:12] kltm commented on #80
@huaiyumi @thomaspd Would either of you have any follow-up to this question?

[2018-01-04 18:12] kltm commented on #83
@vanaukenk Would you have any follow-up for this question?

[2018-01-04 18:35] murphyte commented on #90
Thanks, I guess I didn't actually check the MGI entry. The user mail that prompted this ticket was specifically asking about HGNC.

The HGNC site is more flexible in terms of working both with and without the prefix in their URLs, whereas the MGI site requires it.  But back when this first came up HGNC said including the "HGNC:" in the ID was their preferred format.

For your HGNC entry, it would

[2018-01-04 19:34] cmungall commented on #90
Hi Terence,

All identifiers in the GO xrefs file are [CURIEs](https://en.wikipedia.org/wiki/CURIE), double `:` is syntactically forbidden. The MGI entry is actually a historic mistake, we will be switching to CURIEs soon. We always include the `:` as part of the ID (aka CURIE aka global ID). So for example we treat all the following as IDs

 * HGNC:1
 * FlyBase:FBgn1
 * GO:0000001

We treat the p

[2018-01-04 20:30] murphyte commented on #90
I mostly look at that GO.xrf_abbs file because it's referenced in the GFF3 spec. I'm not sure if that's how the user who prompted this ticket was finding the file, but it seems likely. The GFF3 spec doesn't prohibit the double colon, and neither does the INSDC flatfile spec.

When HGNC and MGI first raised the issue with their IDs we tried quite hard to talk them out of it without success. They we

[2018-01-09 14:30] vanaukenk commented on #89
@juniorresearcher   Thanks for writing to the GO.

The most comprehensive list of cell surface receptors will probably come from a derived list of gene associations (i.e. annotations) found by querying several different GO terms.

Using the AmiGO2 browser:

http://amigo.geneontology.org/amigo/search/ontology

you can identify a candidate set of cell surface receptors by querying on these two GO te

[2018-01-09 20:32] monicacecilia opened #91 "Update hyperlinks to QuickGO Graph Views"
Hola Don @kltm!

I was trying to find an example image to use for a talk and came across a broken image icon in AmiGO. I think the links to QuickGO may need to be updated after the new site went live at EBI? This may be happening for all GO terms (I only tried two).

To reproduce:
- Navigate to a GO term (e.g. http://amigo.geneontology.org/amigo/term/GO:0010928)
- Click on 'Graph Views' tab at the

[2018-01-09 20:34] monicacecilia commented on #91
Eek, forgot the screenshot. . .

![screen shot 2018-01-09 at 12 21 12 pm](https://user-images.githubusercontent.com/1714621/34741955-59eaf2c4-f539-11e7-9864-96559dd73e12.png)

[2018-01-09 20:35] kltm commented on #91
@monicacecilia
Thank you for reporting.
Actually, I generally do not alter tickets that come into the Helpdesk, so reporting users do not lose them. If it makes it to one of the trackers though...

[2018-01-09 20:58] kltm commented on #91
Hm, digging into the QuickGO page a little bit, it seems that they no longer have/offer the image for download and/or caching as they used to. In fact, the image on the QuickGO site appears to just be a binary blob stuck in as the source.

@tonysawfordebi Would you happen to have any information on changes to the public products available from QuickGO?

[2018-01-10 07:53] tonysawfordebi commented on #91
There is a new service that provides the ancestor chart data in exactly the same format as previously (PNG data):

https://www.ebi.ac.uk/QuickGO/services/ontology/go/terms/<go id>/chart'

for example:

    curl 'https://www.ebi.ac.uk/QuickGO/services/ontology/go/terms/GO:0006915/chart' > chart.png

You can generate a chart for multiple terms by supplying a list of GO IDs; for example:

    curl 'h

[2018-01-10 18:53] kltm commented on #91
@tonysawfordebi Great--thank you for the information.

[2018-01-10 18:55] kltm commented on #91
@monicacecilia The issue is now clarified and progress can be followed in the tracker here:
https://github.com/geneontology/amigo/issues/463

[2018-01-10 18:55] #91 closed

[2018-01-10 19:17] monicacecilia commented on #91
woop woop!

[2018-01-23 10:28] ggeorghiou opened #92 "Issue with human gaf file from GO Central"
Hi guys,

Not sure where this belongs but we just got an email from our internal helpdesk regarding the human gaf file not having the right number of annotations. The users email is here:

We noticed that this week when we downloaded and processed the files (goa_human.gaf.gz and goa_human_isoform.gaf.gz) from the Gene Ontology Consortium website (ftp://ftp.geneontology.org/pub/go/gene-associations

[2018-01-23 22:47] cmungall commented on #92
We're investigating this right now, we'll be back with more info ASAP

[2018-01-24 08:57] ggeorghiou commented on #92
Hi Chris, I'm tagging @tonysawfordebi in this.

[2018-01-24 09:00] tonysawfordebi commented on #92
I haven't looked into this, but I'm guessing it might have something to do with https://github.com/geneontology/go-annotation/issues/1772

[2018-01-24 10:08] tonysawfordebi commented on #92
I've just had a look at the numbers in our database, and the complete human annotation set for the last GOA release consists of 545,962 annotations, of which 159,201 are attributed to UniProt. so that lends weight to the hypothesis that all of the UniProt-attributed annotations were filtered out because of the problem with the metadata files.

[2018-01-24 16:18] StefanHaunsberger opened #93 "Find (MolecularFunction)--Part_of--(BiologicalProcess) link"
Hi,
I am currently working with a local GO MySQL instance and try to find all asserted links in GO.

### Challenge
I'm trying to find the link between (GO:0044183)--Part_of-->(GO:0006457), where 'GO:0044183' is from the molecular function domain and GO:0006457 is from the biological process domain (see [Ancestor Chart](https://www.ebi.ac.uk/QuickGO/term/GO:0044183#ancestorChart)), in my local GO-M

[2018-01-24 21:43] kltm commented on #93
@StefanHaunsberger

First, and most importantly, I would direct you to this item in another thread to give you the context of the current state/status of the legacy MySQL dumps:

https://github.com/geneontology/helpdesk/issues/4#issuecomment-290152458

If using the legacy database dump, I would also direct you to the schema documentation and example queries:

http://geneontology.org/page/lead-data

[2018-01-25 09:17] StefanHaunsberger commented on #93
@kltm Thanks for your reply and suggestions.

I've read through the graph-path table description, checked out the database schema and the query I initially used to find my results were actually from the Example_LEAD_Queries.

When I run the following query, which should return all ancestors, regarding the documentation it again only returns the ones that are within the same domain molecular functi

[2018-01-25 18:36] cmungall commented on #93
Hi Stefan,

Historically the MySQL database has only been loaded with what we call go-basic. This is explained here:

http://geneontology.org/page/download-ontology

go-basic *intentionally* omits relationships that span the 3 branches of GO. This is because there are a large number of applications that use the GO (either via the MySQL database, or direct use of the ontology files) initially made

[2018-01-25 21:03] dsptk2017 commented on #83
Hi,
     Is there any progress about integrating our curation results into the Gene
ontology?

On Thu, Jan 4, 2018 at 12:12 PM, kltm <notifications@github.com> wrote:

[2018-01-25 21:34] hdrabkin commented on #83
Hi @dsptk2017

1. I would think the  annotations be put into protein2go (@dsptk2017 may need to contact
The annotations should conform to GAF2 specifications in a tab-delimited file
http://geneontology.org/page/submitting-go-annotations
Protein2GO and the GOA database and annotations please email goa@ebi.ac.uk
but we can assign this to a GOA representative

 2. A term request should be submitted t

[2018-01-27 19:25] daveshire opened #94 "multiple testing correction / Bonferroni params"
Hi,

I was just curious as to what parameters the multiple test correction algorithms use as number of tests. For instance, if I'm using Bonferroni, what is my p-value divided by? All GO categories in database? Or some subset that applies to my data?

Thanks,

David

[2018-01-30 00:55] kltm commented on #94
@thomaspd @huaiyumi I was wondering if you knew the best person to respond to this question?

[2018-01-31 10:56] StefanHaunsberger commented on #93
Hi Chris,

Thanks for the detailed answer.
In this case, I've decided to stick with the go-basic version.

Thanks again and kind regards,

Stefan

[2018-01-31 20:35] #93 closed

[2018-02-07 16:17] jpinero opened #95 "Links to PANTHER in AmiGO broken (was: IL3 annotation as protein tyrosine kinase activity)"
Hi,
I was wondering if the annotation of:

IL3 | Interleukin-3 |   | protein tyrosine kinase activity |   | Reactome | Homo sapiens | TAS

is correct.
Also, this link is broken
http://www.pantherdb.org/panther/lookupId.jsp?id=PTHR10079

best,
janet

[2018-02-08 17:08] kltm commented on #95
@jpinero

Thank you for taking the time to report your issue. On what page did you find the above annotation and broken PANTHER link?

[2018-02-08 17:11] jpinero commented on #95
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:P08700
in the column PANTHER family

[2018-02-09 18:06] suzialeksander commented on #84
Not sure where to raise this point, but if I'm on http://geneontology.org/page/go-annotation-file-format-20 & trying to look for information on column 16, the "See the documentation on _using the annotation extension column_ for details of practical usage" link is not accessible
Link:
http://geneontology.org/GO.annotation.extension.shtml

Returns:
Access denied
You are not authorized to access thi

[2018-02-09 21:37] kltm commented on #84
@suzialeksander
We'll probably move that somewhere else, but could you pop that into its own top level ticket?
I think we're currently looking at how to handle things like this, so it might be just a moment. (We've actually found a *lot* of "leaks" like this in the docs, so it's part of a larger problem.)

[2018-02-09 23:35] suzialeksander opened #96 "'Access Denied': broken link for annotation extension info on GAF 2.0 page"
On http://geneontology.org/page/go-annotation-file-format-20 & trying to look for information on column 16, the "See the documentation on _using the annotation extension column_ for details of practical usage" link is not accessible
Link:
http://geneontology.org/GO.annotation.extension.shtml

Returns:
Access denied
You are not authorized to access this page.

[2018-02-09 23:58] kltm commented on #95
@jpinero

Thank you for the update.
I'm going to split your Reactome annotation question into a different helpdesk item so we don't get confused.

[2018-02-09 23:59] kltm opened #97 "IL3 annotation as protein tyrosine kinase activity"
Initially @jpinero from on #95 :

I was wondering if the annotation of:

IL3 | Interleukin-3 |   | protein tyrosine kinase activity |   | Reactome | Homo sapiens | TAS

is correct.

[2018-02-10 00:02] kltm commented on #96
@pgaudet @vanaukenk
Would we have anybody available to do a quick check through there to look at "dangling" documentation links?

[2018-02-10 00:03] kltm commented on #97
@vanaukenk @ukemi
Would either of you know the best place or person to contact for this item?

[2018-02-10 00:09] kltm commented on #95
Hm. This is the current "correct" form as found in our configuration metadata. @mugitty would there possibly have been an update that was not reflected in https://github.com/geneontology/go-site/blob/master/metadata/db-xrefs.yaml ?
[code]

[2018-02-10 08:23] pgaudet commented on #96
@kltm
Do you have a list ? I can look at it.

Thanks, Pascale

[2018-02-10 21:19] kltm commented on #96
Yes, this was the list supplied during the docathon meeting, titled "found pages" on 2018-01-24.

[2018-02-12 14:01] pgaudet commented on #96
Removed link.

[2018-02-12 14:01] #96 closed

[2018-02-12 14:29] ukemi commented on #97
@deustp01 ?

[2018-02-12 14:41] deustp01 commented on #97
I think I see how we did this - it looks like an error in parsing our catalyst instances to generate molecular function lines for the GAF we submit to GO that we recently fixed. I will check this and let you know.

[2018-02-12 17:45] deustp01 commented on #97
Checking complete - this annotation was due to an error in how we generated molecular function annotations when the active entity is one subunit of a larger complex. There are probably other similar errors; all should be fixed when our patched GAF generation script runs on our next release in a few weeks.

[2018-02-12 21:07] kltm commented on #97
@deustp01 Great--thank you so much for your help.

[2018-02-16 14:42] levisna opened #98 "X. tropicalis database mismatch"
Hello,

I have only recently  begun using the geneontology/PANTHER system for gene ontology enrichment analysis. In my preliminary efforts to become familiar with the tool, I downloaded the entire uniprot dataset for Xenopus tropicalis. This dataset contains uniprot IDs and a variety of other information including gene ontology codes for roughly 36000 genes. However, when I use these uniprot IDs i

[2018-02-16 16:50] Antonialock opened #99 "Human IEAs not in GO database?"
Hello,

I'm a bit confused. Looking at [entrez](https://www.ncbi.nlm.nih.gov/gene/127550) human A3GALT2 has 4 BP annotations 2 IEAs and 2 IBAs.

![screen shot 2018-02-16 at 13 25 43](https://user-images.githubusercontent.com/12727506/36318672-7c2f0ce0-1338-11e8-94bc-5feaf81548bb.png)

In [amigo](http://amigo.geneontology.org/amigo/gene_product/HGNC:30005) it has 1 IBA

![screen shot 2018-02-16 at

[2018-02-16 17:00] cmungall commented on #99
Looks like issue with paint GAFs

The uniprotkb IDs are currently canonical for human, so this would be the correct URL
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:U3KPV4

[2018-02-16 17:02] cmungall commented on #99
@huaiyumi

[code]

should use the uniprotkb ID

[2018-02-19 17:21] mirmler opened #100 "Amigo 1.8 vs Amigo 2"
I downloaded all genes (filtered for mus musculus) for "extracellular matrix" and got 771 genes with Amigo 2 and 500 with Amigo 1.8. From the ones present only in Amigo 2 I checked two genes (Abl1, Srf) in Amigo 2, by downloading all annotations for them. By searching the results for "extracellular" I found "extracellular matrix regulation" for Abl1 and nothing for Srf.  In contrast, one of the ov

[2018-02-20 22:17] dsptk2017 commented on #83
Hi, @hdrabkin

I am a bit confused about your instructions.
**1. I would think the annotations be put into protein2go (@dsptk2017 may need to contact
The annotations should conform to GAF2 specifications in a tab-delimited file
http://geneontology.org/page/submitting-go-annotations
Protein2GO and the GOA database and annotations please email goa@ebi.ac.uk
but we can assign this to a GOA representa

[2018-02-21 01:18] kltm commented on #100
@mirmler

Our apologies, we should make out documentation more clear in this respect. AmiGO 1.8 is very much a legacy platform that is only being kept around for a small subset of users who wanted to continue with a very narrow subset of functionality that was not continued in the AmiGO 2 platform. At this point, I'm not entirely sure what the current load for AmiGO 1.8 is. The next minor release

[2018-02-21 11:59] mirmler commented on #100
Dear helpdesk,

thanks for the clarification about Amigo 1.8.

And yes, I did not chose the right option on http://amigo.geneontology.org/amigo/medial_search?q=extracellular+matrix - with a bit of thinking it even works without manual :-).

Kind regards
Martin

______________________________________
Martin Irmler, PhD

Helmholtz Zentrum München

Institute of Experimental Genetics

Bldg 35, Room 82

[2018-02-21 16:57] Isagbrls opened #101 "List of children of 'primary metabolic process' (GO:0044238)"
Hi,

I was wondering if it is possible to retrieve a complete list of all GO-terms associated with the parent GO-term 'primary metabolic process' (GO:0044238).

Thank you in advance!

[2018-02-21 18:47] kltm commented on #100
@mirmler

We're always happy to help. Our apologies for the confusion--we'll be trying to clean up both the references and the explanation text.

[2018-02-21 18:47] #100 closed

[2018-02-22 09:41] ValWood commented on #99
Any news on this? We are trying to finalise analysis for a paper. The human annotations are very incomplete without the IEAs

This means that everyone using human GO  data is missing a large  chunk of annotations.

We are having major trouble identifying a unique and non-redundant human  protein set with complete annotations.....it should not be this difficult!

[2018-02-22 15:34] ValWood commented on #99
Removing HGNC IDs will resolve one issue, but where did the IEA's go?

[2018-02-22 16:09] Antonialock commented on #99
I did an enrichment (p=1) on unslimmed genes and got this list:
http://go.princeton.edu/tmp/2537281//query_results.html

3496 gene unannotated but e.g.
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=Q6UXZ0

has two IMPs and 2 IDAs to "regulation of..."?

On Thu, Feb 22, 2018 at 3:34 PM, Val Wood <notifications@github.com> wrote:

--
Antonia Lock, PhD
PomBase Biocurator, http://www.pombase

[2018-02-22 17:02] ValWood commented on #99
thats odd.

[2018-02-22 17:05] ValWood commented on #99
It's not in the GO database
http://amigo.geneontology.org/amigo/medial_search?q=Q6UXZ0

sigh....

[2018-02-22 17:06] ValWood commented on #99
So Antonia this is the reference proteome set that everyone is using?

[2018-02-22 17:15] Antonialock commented on #99
well that enrichment did include the uncertain genes, but Q6UXZ0
<http://amigo.geneontology.org/amigo/medial_search?q=Q6UXZ0> is in the list
of IDs retrieved using
NOT existence:uncertain AND reviewed:yes AND organism:"Homo sapiens (Human)
[9606]" AND proteome:up000005640

On Thu, Feb 22, 2018 at 5:06 PM, Val Wood <notifications@github.com> wrote:

--
Antonia Lock, PhD
PomBase Biocurator, http://w

[2018-02-22 17:18] ValWood commented on #99
That seems as though it   *should* be in the reference set. To be sure  are there a couple more obviuos examples?

[2018-02-22 17:22] ValWood commented on #99
Q86YD7 HGNC:FAM90A1
 Q9NVL8 HGNC:CCDC198

these 3496 "unnnotated" appear to be just missing from GO...
--

[2018-02-22 17:28] Antonialock commented on #99
and
http://amigo.geneontology.org/amigo/medial_search?q=P0DP91

On Thu, Feb 22, 2018 at 5:22 PM, Val Wood <notifications@github.com> wrote:

--
Antonia Lock, PhD
PomBase Biocurator, http://www.pombase.org
Department of Genetics, Evolution and Environment,
The Darwin Building,
University College London
London WC1E 6BT, UK

[2018-02-22 17:34] ValWood commented on #99
hang on, this is some weird pathological chimera (mutant) it seems
http://www.uniprot.org/uniprot/P0DP91
Maybe you need to filter on something else too?
But I wonder why that is in UniProt(KB?) Or maybe I misunderstood what it is...

[2018-02-22 17:47] Antonialock commented on #99
sorry, not all 3496 Val, that list did include the unreviewed ones e.g.
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=Q1A5X7

for the 19675 proteins from "NOT existence:uncertain AND reviewed:yes AND
organism:"Homo sapiens (Human) [9606]" AND proteome:up000005640"

3174 do not slim (using my slim set)
enrichment p=1
http://go.princeton.edu/tmp/2688422//query_results.html

On Thu, Feb 22,

[2018-02-22 17:47] Antonialock commented on #99
(3140 are "unnannotated")

On Thu, Feb 22, 2018 at 5:47 PM, Antonia Lock <a.lock@ucl.ac.uk> wrote:

--
Antonia Lock, PhD
PomBase Biocurator, http://www.pombase.org
Department of Genetics, Evolution and Environment,
The Darwin Building,
University College London
London WC1E 6BT, UK

[2018-02-22 17:50] Antonialock commented on #99
so e.g.
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:A0A0U1RRE5

On Thu, Feb 22, 2018 at 5:47 PM, Antonia Lock <a.lock@ucl.ac.uk> wrote:

--
Antonia Lock, PhD
PomBase Biocurator, http://www.pombase.org
Department of Genetics, Evolution and Environment,
The Darwin Building,
University College London
London WC1E 6BT, UK

[2018-02-22 18:03] cmungall commented on #99
Having a hard time following. Let me give a quick review of what the situation is.

The core set of annotations to human should be to GCRP aka reference proteins. Let me know if you find any protein that is not.

We currently inject the annotations from the paint pipeline into the GAF. What is happening here is that PAINT is providing annotations projected onto HGNC for human. This means that the

[2018-02-22 18:13] ValWood commented on #99
We are doing something very specific.  We are completing a paper about "unknown/unstudied" proteins  and we want to include human data to compare to yeast(s).

We have devised a simple procedure to define a basic  preliminary level of charactarization, using a sensible slim (which removes  uninformative terms like modification and response to).

Then, as a double check  we take the gene products t

[2018-02-22 19:02] cmungall commented on #99
## Q86YD7

Zero GO annots in UniProtKB: http://www.uniprot.org/uniprot/Q86YD7

This is consistent with AmiGO: http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q86YD7

(we have "more annotations" than the UniProt page as we take in protein bindings from IntAct; whether this is a good idea or not is a separate issue)

## Q9NVL8

Same story

* http://amigo.geneontology.org/amigo/gene_produc

[2018-02-22 19:07] Antonialock commented on #99
how about Q6UXZ0
<http://amigo.geneontology.org/amigo/medial_search?q=Q6UXZ0> ?

this one shows as unannotated but has BPs?
http://www.uniprot.org/uniprot/Q6UXZ0
<http://amigo.geneontology.org/amigo/medial_search?q=Q6UXZ0>
https://www.ebi.ac.uk/QuickGO/annotations?geneProductId=Q6UXZ0

On Thu, Feb 22, 2018 at 7:02 PM, Chris Mungall <notifications@github.com>
wrote:

--
Antonia Lock, PhD
PomBase Bi

[2018-02-22 19:14] cmungall commented on #99
We have the annotations
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q6UXZ0

You're running into this issue:
https://github.com/geneontology/amigo/issues/157

We should fix this. In the interim, I'm wondering how you end up on the medial_search page? When I enter Q6UXZ0 into the box it autocompletes almost immediately. cc @kltm

[2018-02-22 21:18] Antonialock commented on #99
Ah, from the search box at http://amigo.geneontology.org/amigo
if you paste the ID in and hit enter you get to that page

if you select the entry in the dropdown list you get to the right page

On Thu, Feb 22, 2018 at 7:14 PM, Chris Mungall <notifications@github.com>
wrote:

--
Antonia Lock, PhD
PomBase Biocurator, http://www.pombase.org
Department of Genetics, Evolution and Environment,
The Darwi

[2018-02-23 04:15] ValWood commented on #99
Re

http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q6UXZ0
You're running into this issue:
geneontology/amigo#157

Thanks.This explains why we can't find it in AmiGO. It doesn't explain why it is appearing as "unannotated" in the Princeton GO tools. These are pretty reliable and up to data so thats odd.
This shouldn't be the Panther/PAINt issue because its a bona fida UniProt(KB?) annot

[2018-02-23 04:32] ValWood commented on #99
Yes I contacted Mark.

[2018-02-28 16:14] jejust opened #102 "latest-full now out of date --> how to mirror full GO?"
Hi all,

I would like to update our local mirror of GO MySQL server, but I can see that the latest full dump is now out of date (files created on "07-Jan-2017"):
http://archive.geneontology.org/latest-full/

What is now the recommended procedure to create a full mirror, including IEAs?

And I can connect neither to "mysql.ebi.ac.uk" nor "mysql-amigo.ebi.ac.uk", that are mentioned here:
http://gene

[2018-03-01 11:50] ValWood commented on #99
So our main issue is that there are 29081  human  protein entries int the GO database. There should only be around ~20,000. It is impossible to be confident about reporting analyses using human whilst the numbers are so incorrect. Mainly because we cannot be sure that the tools we are using have all of the annotation for any given ID set.

[2018-03-01 11:58] ValWood commented on #99
@Antonialock
can you go through and check your comments, if you use this URL, you could be able to find the entries
 http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q6UXZ0
(and the gene product does show up in the search if you use just  Q6UXZ0),
so based on this can you delete the comments that are no longer relevant). I can't delete yours. I will do mine.
Then we can see if there is s

[2018-03-01 12:07] ValWood commented on #99
So none of the issues I reported are relevant, as you now find the entries searching on a  UniPRot ID.
I no longer encountered any issues with IEA's missing.
The outstanding issue seems to be the partitioning of PAINT annotation by using HGNC IDs instead on UniProt IDs.
@Antonialock  can you confirm?

[2018-03-01 15:13] Antonialock commented on #99
So the IBAs now seem to be showing on the uniprot ID page
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:U3KPV4

Although all annotations are not showing on the HGNC ID page
http://amigo.geneontology.org/amigo/gene_product/HGNC:30005

does this mean we are ok if using uniprot IDs?

[2018-03-01 15:50] ValWood commented on #99
Should be. If the UniProt entries have the IEAs and IBAs that should be fine. Then we just need to wait for GO term mapper to catch up (might take a few days).

[2018-03-01 18:29] kltm commented on #101
@Isagbrls

Our apologies for the slow reply.

To clarify, you're looking for *all* children of a particular term?

[2018-03-02 13:44] baoilleach opened #103 "Confused by GO:0061990, molecular_function "beta-ketodecanoyl-[acyl-carrier-protein] synthase""
For the most part, molecular functions appear to avoid colliding with names of proteins, sometimes by appending the term "activity". However, there are a number of terms whose names are synthases rather than "synthase activity". For example...

GO:0061990 has the name beta-ketodecanoyl-[acyl-carrier-protein] synthase

But Uniprot Q9HYV7 (http://www.uniprot.org/uniprot/Q9HYV7) is named "Beta-ketode

[2018-03-02 18:22] kltm commented on #103
@ukemi @vanaukenk

Would either of you know the right person to contact internally to answer this question?

[2018-03-02 18:23] kltm commented on #80
@huaiyumi @thomaspd Would either of you have an update for this user?

[2018-03-02 18:24] #90 closed

[2018-03-02 18:24] #89 closed

[2018-03-02 18:27] kltm commented on #94
@thomaspd @huaiyumi I was wondering if you might have a follow-up for this user?

[2018-03-02 18:45] kltm commented on #92
Leaving as pointing to resolving geneontology/go-annotation#1772

[2018-03-02 18:45] #92 closed

[2018-03-02 21:39] dsptk2017 commented on #83
@hdrabkin
I don't receive your answer to my last questions proposed 10 days ago. Have you seen them? Expect your answers.

[2018-03-02 22:01] hdrabkin commented on #83
I have been away for some time, and am still in the process of catch-up
I was perhaps suggesting that you contact GOA and be given a protein@go account and be assigned someone who would teach you how to use the tool and then you would enter them yourself.
 the GOA db (using protein@go is the tool used to enter the annotatins) , and then they would become available to the GOC.
The annotations thems

[2018-03-06 11:59] jejust commented on #102
Thanks a lot for your directions!

I'll have a look at SparQL and Solr to get a sustainable solution, but right now, I will try to solve my problem with the [lite version of GO MySQL database](http://archive.geneontology.org/lite/latest/) to get the GO terms (I hope it's effectively still maintained, or at least that the terms haven't changed a lot), and these associations:
[https://www.ebi.ac.uk/

[2018-03-06 11:59] #102 closed

[2018-03-08 09:13] ValWood commented on #99
I'll close this, it isn't clear what the issue is, but it persists.
I summarized in an AMiGO ticket here.
https://github.com/geneontology/amigo/issues/477

It is very, very important that this is fixed.

[2018-03-08 09:16] ValWood commented on #99
I'll close this, it isn't clear what the issue is *from this ticket*, but it persists.
It is clear what the issue is....

[2018-03-08 15:22] dsptk2017 commented on #83
@hdrabkin
I have contacted GOA, but they suggested me return here saying that there was nothing they can really do with getting these added since we are not Gene Ontology editors.

There are two things that I want to clarify: 1)our curation work is already done and there are 142 genes enhancing/suppressing thermogenesis upon cold exposure. 2)  MGI have included our curation results as Mammalian Ph

[2018-03-08 15:47] ukemi commented on #83
Hi @dsptk2017  and @hdrabkin .

We already have heat generation and homiothermy. Do those terms suffice? If not, we could add the separate terms. Can you give us advice about their placement in the ontology and how we can define them? Should they be children of the existing terms? I think we need to distinguish the two tasks here:

1. Adding terms to the ontology if needed.
2. Adding the annotatio

[2018-03-08 16:08] dsptk2017 commented on #83
Hi, @ukemi @hdrabkin

No. the terms of heat generation and homeothermy do not suffice.  Cold-induced thermogenesis (CIT) should be a children term of the existing term "adaptive thermogenesis". In GO, adaptive thermogenesis has only one children term "diet-induced thermogenesis".  Cold-induced thermogenesis is another important type of adaptive thermogenesis, which is an endothermic thermoregulati

[2018-03-08 18:14] cmungall commented on #99
Let's keep it open until the fix has propagated. I agree it is important.

Here is the sequence of events

 - @huaiyumi fixed the PAINT files on Feb 27
 - This fix was reflected in the subsequent GAF release, which was on Mar 7 (yesterday)
 - The latest amigo load is 2018-03-06 (two days ago)

So unfortunately the timing was such that this was just missed. It will be fixed the next amigo cycle in

[2018-03-08 18:17] ValWood commented on #99
OK thanks for the update.  I thought the main issue might have got lost in the ticket comments!

[2018-03-09 19:29] suzialeksander opened #104 "Nocuta new user permissions"
Hi,

We'd like to add Patrick Ng and Barbara Dunn to the Noctua curation team at SGD.  They'll update this when they have joined GitHub and filled out the new user form.

@srengel

[2018-03-09 20:01] kltm commented on #104
Ideally, they could just be added with a PR to the users file:
https://github.com/geneontology/go-site/blob/master/metadata/users.yaml
Any mistakes will be caught when the PR is tested and reviewed.

[2018-03-09 20:20] suzialeksander commented on #104
Should I just add the fields I know (name, orchid, etc.)  and omit adding an email? Neither of them are in the file already.

[2018-03-09 20:22] kltm commented on #104
Email is not needed. Paul Sternberg at the bottom there is a good example.

[2018-03-09 20:25] suzialeksander commented on #104
OK perfect. I'll add them.  Thanks!

[2018-03-09 20:25] #104 closed

[2018-03-10 02:37] cmungall commented on #104
is the SOP still as in http://wiki.geneontology.org/index.php/Noctua#Setup

or should we change so people just go straight for the PR?

[2018-03-10 02:42] kltm commented on #104
The PRs are/were considered too "technical" for most people, hence the form, which was put into place when tons of people were trying to join and giving wrong or partial information. The direct PRs have always been encouraged (and appreciated).

[2018-03-10 02:44] kltm commented on #104
Note: https://github.com/geneontology/go-site/blob/master/documentation/application-logins.md

[2018-03-10 03:44] cmungall commented on #104
Thanks! Added to the noctua tech stack docs

On 9 Mar 2018, at 18:44, kltm wrote:

[2018-03-10 21:32] ValWood opened #105 "SGD annotated genes mis-represented in AmiGO (GO term merge issue)"
~When I use GO term mapper (Princeton)  I get:
These 4 identifiers were found to be unannotated: YGR106C YMR100W YOL054W YOR137C
however these are all annotated in SGD
YMR100W  ubiquitin-dependent protein catabolic process
YGR106C cellular protein-containing complex assembly
YOL054W ubiquitin-dependent protein catabolic process
YOR137C   proton transmembrane transport~
(irrelevent to this ticket)

[2018-03-10 21:33] ValWood commented on #105
similar situation with MUG1

![mug1](https://user-images.githubusercontent.com/7359272/37246935-ae745df8-24aa-11e8-8c99-1ac300eaa923.jpg)

[2018-03-10 22:52] Antonialock commented on #105
I have 4 human genes (Q9Y485, Q8TDJ6, Q8N5M1, Q3ZAQ7) that don't slim to
GO:0006461 (secondary ID for GO:0065003) protein-containing complex assembly

they are annotated to proton-transporting two-sector ATPase complex assembly

[2018-03-11 08:25] ValWood commented on #105
this may be a different issue
as they aren't directly annotated to protein-containing complex assembly
https://www.ebi.ac.uk/QuickGO/term/GO:0070071
and the parentage is correct...

[2018-03-12 20:24] kltm commented on #99
@cmungall Can you give me a test to know when this ticket gets closed?

[2018-03-12 20:33] ValWood commented on #99
A test is here
https://github.com/geneontology/amigo/issues/477
total gene products should  17-18000 (annotated)

http://amigo2.berkeleybop.org/amigo/search/bioentity?q=MRPL39
 should give one human entry, not 2

[2018-03-12 20:43] kltm commented on #99
Great, thank you @ValWood !
The following should contain 1 annotation:
http://amigo.geneontology.org/amigo/search/bioentity?q=MRPL39*&fq=taxon_subset_closure_label:%22Homo%20sapiens%22&sfq=document_category:%22bioentity%22

[2018-03-12 20:45] kltm commented on #99
Most of the information is here, so let's dupe the other one away:
From @ValWood
[code]
(Note that @ValWood is often referencing the *dev* AmiGO in berkeley, rather than the production site.)

[2018-03-12 20:50] ValWood commented on #99
no one gene product. Currently there are 2...

[2018-03-12 20:54] kltm commented on #99
Correct: the test is that it *should* contain 1 annotation.

[2018-03-12 20:56] ValWood commented on #99
There should be one gene product for human.
with ~15 annotations

[2018-03-12 20:58] kltm commented on #99
At this URL
http://amigo.geneontology.org/amigo/search/bioentity?q=MRPL39*&fq=taxon_subset_closure_label:%22Homo%20sapiens%22&sfq=document_category:%22bioentity%22
How many row should exist and is the number of rows there an indication of whether or not the fixed data is in place?

[2018-03-12 21:02] ValWood opened #106 "human- overinflation of numbers to DNA replication"
I took advice on this from a replication researcher and he agrees:
I agree completely - these all look like they effect proliferation, with replication just being used as a readout for this.

http://www.uniprot.org/uniprot/O15520 from http://www.uniprot.org/citations/17471512 readout?
http://www.uniprot.org/uniprot/P01127 from http://www.uniprot.org/citations/2836953 readout?
http://www.uniprot.or

[2018-03-12 21:27] ValWood commented on #106
IGF1 http://www.uniprot.org/uniprot/P05019
http://www.uniprot.org/citations/9722506 IDA BHF

http://amigo.geneontology.org/amigo/gene_product/UniProtKB:P01133
https://www.uniprot.org/citations/9482941 TAS protInc

[2018-03-12 21:28] ValWood commented on #106
I'm sure there are lots more of these so  the list of "DNA replication"  annotation should be reviewed.

[2018-03-12 21:32] ValWood commented on #106
wrong tracker

[2018-03-12 21:32] #106 closed

[2018-03-12 21:58] ValWood commented on #99
One row here.
Sorry I was getting confused because  this is the product view not annotation view.

[2018-03-13 02:06] cmungall commented on #99
We don't expect any change as the amigo load was 6 days ago (http://amigo.geneontology.org/amigo/load_details). Next load tomorrow?

[2018-03-13 16:33] suzialeksander opened #107 "GAF downloads show wrong date"
http://geneontology.org/page/download-go-annotations

The 'submission date' column info does not match the GAF file date.  I looked at SGD's and MGI's GAFs, both show this month in the headers.  GO page makes them appear over 6 months out of date (from September 2017).

Does not appear the 'submission date' has picked up anything since last October.

The same files are available at  http://www.gen

[2018-03-13 16:34] cmungall commented on #99
Fixed in latest AmiGO load

[2018-03-13 16:34] #99 closed

[2018-03-13 19:09] ValWood commented on #99
Great! thanks.

@Antonialock  17843 human proteins...

[2018-03-13 19:11] ValWood commented on #99
.....annotated, probably not all have BP

[2018-03-13 19:16] kltm commented on #99
@cmungall The loads are apparently happening daily (see email from Stuart over the weekend).

[2018-03-13 21:33] kltm commented on #107
@suzialeksander

There should be a ticket around here for this...ah: https://github.com/geneontology/go-site/issues/542

Essentially, the old metadata pipeline to drive that page borked out a few months ago. Rather than spend the time reconstituting it, we've been doubling down on getting the new pipeline done: https://github.com/orgs/geneontology/projects/11

What we have for the new downloads pa

[2018-03-13 21:33] #107 closed

[2018-03-13 21:44] dsptk2017 commented on #83
Hi,  @ukemi   I have answered all of your questions. What's the progress?

[2018-03-14 11:19] rhaesler opened #108 "GO download filtered for human only"
Dear helpdesk,
for a local enrichment analysis, I need to download a full list of GO-Terms and associated genes, LIMITED to human biological processes. Is there an easy way of how to achieve this?
cheers,

Rob

[2018-03-14 17:11] kltm commented on #108
@rhaesler

Thank you for contacting the GO Helpdesk.

Depending on what you want to do, a simple approach might be to download the GAFs for the organisms/resources that you're interested in (e.g.http://geneontology.org/gene-associations/goa_human.gaf.gz) and filter on the "aspect" field.

For example:
[code]
To get a uniq list of terms then:
[code]
An explanation of the GAF 2.1 fields can be found

[2018-03-15 11:43] rhaesler commented on #108
Thank you very much for your response.
Maybe I need to rephrase the isse. When using the human GO biological process, I still can get hits for "Chloroplast" which shouldnt be there in humans - how can I avoid that?

cheers,
Rob

[2018-03-15 19:41] kltm commented on #108
Hm. Can you give the example where you are running into this and the steps to reproduce?
For example, if I'm in AmiGO, I can filter annotations for biological_process and human:
http://amigo.geneontology.org/amigo/search/annotation?q=*:*&fq=taxon_subset_closure_label:%22Homo%20sapiens%22&fq=aspect:%22P%22&sfq=document_category:%22annotation%22
http://amigo.geneontology.org/amigo/search/annotation?

[2018-03-16 10:22] rhaesler commented on #108
Thank you very much for looking into this issue.
My problem still remains, seems I wasn't able to phrase it properly:
is there a way to identify "biological processes" that are unique to plants (or others) in the field "subset"? So I can eliminate those.

Our problem is, when zooming in on a gene, we want to see its entire ontology path, including the parental terms, however, moving up the path ca

[2018-03-20 14:57] lsirot opened #109 "GO enrichment analysis for non-model species: how do you proceed without selecting a species on the list?"
Hi,
I have been trying to follow the instructions on [this site](http://www.geneontology.org/faq/how-can-i-do-term-enrichment-analysis-species-not-present-list-amigo) for how to use PANTHER to conduct GO enrichment analysis for a non-model species. I am uploading my own lists of regulated and reference genes. These lists contain ids for the best BLAST hits from a number of different species. The i

[2018-03-20 19:50] kltm commented on #109
@huaiyumi @mugitty
Would you have any advice for this user?

[2018-03-21 10:14] cirillodavide opened #110 "GO old releases in BioPortal"
I cannot find GO release 2013-07-01 at https://bioportal.bioontology.org/ontologies/GO

That release is instead available at ftp://ftp.geneontology.org/pub/go/ontology-archive/

Thanks in advance for clarifying.
Davide Cirillo

[2018-03-21 18:28] kltm commented on #110
@cirillodavide
As far as I know, we currently have no release procedure with BioPortal, so I would not consider that information canonical.
@cmungall would you know the best location to get historical ontologies? Would that be the repo, or is there another archive?

[2018-03-21 19:13] cmungall commented on #110
You can get this release from it's PURL:

 * http://purl.obolibrary.org/obo/go/releases/2013-07-01/go.obo
 * http://purl.obolibrary.org/obo/go/releases/2013-07-01/go.owl

Every release of GO should have the version in it. This is very explicit in the OWL, it uses the standard versionIRI property like this:

[code]

The version should always be resolvable

with the obo it's a bit less explicit but

[2018-03-21 20:02] #110 closed

[2018-03-21 21:01] dsptk2017 commented on #83
@hdrabkin you added the CIT term. But how should the associated mouse genes curated by us be linked to the term?

[2018-03-21 21:23] hdrabkin commented on #83
Usually, when there is a project done by a group, they would get training from GOA to use protein@go to enter their annotations. The group/user would get some sort of xref to indicate the annotations came from their project. Once approved, the annotations would become part of the GOA database,  MGI downloads the GOA mouse set, and incorporates them into the MGI db, as well as contributes them to t

[2018-03-21 21:32] dsptk2017 commented on #83
Ok. Thanks. I will do that.

[2018-04-02 08:12] chriszhuge opened #111 "[Questions about the results of the enrichGo()]More genes are involved but less biological activity."
I downloaded the gene mutation table for breast cancer patients and ranked them according to the mutation frequency of the genes.

The first 885 genes in the database (with a mutation frequency greater than or equal to 3) were analyzed with enrichGO() to obtain 144 results for participating in biological activities.

The first 348 genes in the database (with a mutation frequency greater than or eq

[2018-04-02 17:58] kltm commented on #111
@chriszhuge

If I'm following your question correctly, this is a question concerning the `enrichGO` package. That is not a software package from the GOC, so we would be unable to offer any support and would suggest that you contact the package's maintainer.

[2018-04-02 19:35] ValWood opened #112 "PAINT annotations do not use the correct primary name in GAF field for DB object symbol"
A message from GO term finder:

Hi Val,

With our GOTermFinder, we are getting errors like this for Pombase:

WARNING: databaseId SPAC1A6.10 maps to more than one standard name : tcd1 ; SPAC1A6.10

There are actually hundreds of these. Since they happen at the annotation parsing phase, they affect every job using the Pombase annotation, and (until today) prevented GOTermFinder from completing. I'm

[2018-04-02 19:38] ValWood commented on #112
This refers to filed 2, should be the gene object symbol.
3 | DB Object Symbol | required | 1 | PHO3

This issue will go away once PomBase imports the PAINT annotations, because we will output them with  the correct IDs, but this won't happen until these   pre import checks are addressed:

https://github.com/geneontology/go-annotation/issues/1873

and final checks have been made for biological con

[2018-04-02 19:54] ValWood commented on #112
Having these annotations in GO term finder will be problematic for me for  a few projects/analyses  (1, for a paper on unknowns we will be submitting shortly, 2. For the matrix project  we hope to finalize next )...will also cause problems for our users performing enrichment  and slims with GO term mapper and slimmer.  Could also cause problems for  exercises for a WT workshop where we  are curren

[2018-04-04 23:16] andrewsu opened #113 "Annotation of localization for Chlamydia proteins"
In the context of a wikidata-backed project called Chlambase, we would like to annotate the localization of a set of Chlamydia proteins to various compartments in the host and in the inclusion body (which is the nucleus-sized structure indicated by the red arrow):

![2018-04-02_15-24-13](https://user-images.githubusercontent.com/2635409/38282391-ae7c2e62-3764-11e8-959c-07b48ccf01db.png)

This tabl

[2018-04-05 00:33] kltm commented on #113
@vanaukenk @pgaudet @ukemi
I'm not sure who within our group would be the best contact for this--would any of you have any ideas for the best person to loop in?

[2018-04-05 03:47] huaiyumi commented on #112
I don't think this is an issue with PAINT annotations being outdated. I looked at the example in Val's message. The current release still uses the same id (SPAC1A6.10). The issue won't be resolved by updating the GAF file.

[2018-04-05 04:06] huaiyumi commented on #112
Or does it mean that gene symbols should be used as the primary ID for the pombase GAF? For PAINT GAFs, MOD gene IDs are used as the primary ID by default. Is there any documentation that we can follow when we generate GAFs for the MODs?

[2018-04-05 06:49] ValWood commented on #112
Hi @huaiyumi
Yes that's the issue:

primary symbol is tcd1
PomBase SPAC1A6.10 tcd1

this clashes with the PAINT export and GO term finder/mapper expect this to be unique:
PomBase SPAC1A6.10 SPAC1A6.10

Although for now, I would prefer the PomBase PAINT annotations did not go into  AmiGO, until
I have finished sanity checking.
There are quite a few annotation issues reported, and it is affecting so

[2018-04-05 06:57] ValWood commented on #112
This is what it looked like after I finished the clean up

![clean up](https://user-images.githubusercontent.com/7359272/38351330-d6f10d98-38a6-11e8-823e-5aaa8340a389.jpg)

This is what it looks like with the PAINT annotation:

![matrix](https://user-images.githubusercontent.com/7359272/38351363-ff81a772-38a6-11e8-953a-4ce226190679.jpg)

[2018-04-05 15:16] GloriaGonzalez opened #114 "Invitation to participate in a Genomic Terminology Standards survey"
To whom may concern,

Request for your input into a project being undertaken for NHS Digital in England.

I am one of the consultants as Bitac [http://bitac.com/?lang=en], a terminology service company based in Barcelona.

Currently we are undertaking a consultancy project for NHS Digital in England titled “A survey of current standard vocabularies supporting genetic, genomics and research” and we

[2018-04-05 20:06] kltm commented on #114
@vanaukenk @pgaudet @ukemi
If interested, could one of you please either follow up or pass this on to somebody who could follow up?

[2018-04-05 21:03] cmungall commented on #114
Hi Gloria

You have contacted the Gene Ontology (GO) helpdesk. We can answer questions pertaining to the applicability of the GO in genomics research. I am sure you know already, but the GO is widely used in genomics for functional annotation of genes in humans and other model organisms. Although the GO is primarily used in basic research and molecular biology, it is increasingly used in clinical

[2018-04-06 18:22] contessaricci opened #115 "Page not found when trying to obtain results"
Hello,
I have been trying to collect accession numbers associated with the gene ontology terms for my sequences of interest, however, I keep receiving a page not found error. Is there an issue with your server at the moment?

[2018-04-06 18:31] cmungall commented on #115
Thanks, we are investigating the outage and hope to have it up soon

[2018-04-06 19:33] kltm commented on #115
If this is in reference to http://amigo.geneontology.org, the balancer seems to have recovered.

[2018-04-06 19:33] #115 closed

[2018-04-09 18:46] chrish00 opened #116 "GO data anomalies: synonyms, deprecated IDs, typos"
Hi - I'm reporting a few data anomalies I found in a current version of GO I downloaded. These issues were found in both obo files (full and basic) as well as OWL.

1) Duplicate synonyms:

[Term]
id: GO:0015194
name: L-serine transmembrane transporter activity
namespace: molecular_function
alt_id: GO:0015511
alt_id: GO:1905361
def: "Enables the transfer of L-serine from one side of a membrane to t

[2018-04-09 21:55] lterhune opened #117 "Documented changes with each GO release?"
Hello Github, we were wondering if there is documentation of the annotation changes that occur with each GO release. We've just noticed some changes in our data in PANTHER from a release last year to the current one. I've downloaded the archived GO .gz files but was wondering if the differences were clearly annotated somewhere. thanks!

[2018-04-10 01:38] huaiyumi commented on #112
Hi @ValWood ,
I have to relay the issue to Maria at Reference Proteome. We use their data to build PANTHER database. The symbols were not in their dataset that was used to build the current version of PANTHER. Not sure if they will update it in this year's release. Bottom line, we are not able to fix this problem until RP fixes it.

[2018-04-10 02:49] cmungall commented on #112
Thanks for the update Huaiyu.

If this can't be fixed at PANTHER, we will fix this in GO Central when the annotations are merged in.

This ticket tracks the work to be done here: https://github.com/geneontology/go-site/issues/591

We can close this ticket when that is done

[2018-04-10 10:00] ValWood commented on #112
I would prefer if you did not  include the pombe data in Amigo Until the issues reported here:
https://github.com/geneontology/go-annotation/issues?q=is%3Aissue+is%3Aopen+label%3A%22PAINT+annotation%22

are fixed.

This is why we did not import them into PomBase yet. When we import into PomBase, we will export with the correct identifiers for downstream softwares.

We are using GO term finder /map

[2018-04-10 15:55] cmungall commented on #112
Hi Val, I opened a ticket for your request here: https://github.com/geneontology/go-site/issues/597

[2018-04-10 21:13] cmungall commented on #114
Gloria answered, I am having a call with Bitac Wednesday 18th 9am pacific time (3pm Spanish time)

[2018-04-10 22:07] #114 closed

[2018-04-10 22:26] kltm commented on #116
@cmungall
Would you happen to understand the source of this?

[2018-04-10 22:35] kltm commented on #117
@lterhune
Would it be possible to get a link for where you got the data that you're working with?
For differences between versions, especially at a year level, the changes in what you're looking at may be large and structural. Historically, annotation versions have been kept in an SVN repo (http://geneontology.org/page/svn-help) and ontology versions are kept in GitHub (https://github.com/geneonto

[2018-04-10 22:38] kltm commented on #105
@ValWood I'm unclear on the origin of the issue at hand (e.g. pipeline filtering or upstream sources).

[2018-04-11 00:44] cmungall commented on #105
We flagged the annotation to the alt_id in the report for the release that you were looking at on Mar 10 when you made the screenshot:

http://release.geneontology.org/2018-03-06/reports/sgd.report.md

@dougli1sqrd is looking at why the switch from GO:0043623->GO:0034622 didn't happen.

I think the 4 gene products were always in amigo, so I think the remained for of the ticket pertains to the prin

[2018-04-11 07:49] ValWood commented on #105
Yes I thought there was a connection, but  they were 2 independent issues. So this ticket is only about  the primary/secondary ID.

[2018-04-11 07:55] ValWood commented on #105
Actually, this IS the cause of the Princeton issue.
These 4 genes are only annotated to  a process via an "alternative ID" which should be remapped to the main ID.  I think this is why the Princeton GO term Mapper tool is not recognising them as being annotated. Its a good example of the knock on effect on external tools....

[2018-04-11 13:53] michelegentili93 opened #118 "why go_associations.gene_product.full_name is not a key"
I've downloaded the homo sapiens annotation file.

Why I have proteins with more ids (go_associations.gene_product.id) and thus a protein with many sets of annotations.

**Example**:
_protein_ :  A1CF
_go_associations.gene_product.id_ : [305058, 324614, 333209]
then for each of the three gene id (that are of the same protein) I have a set of annotations. So which of the three set should I use? The

[2018-04-11 23:47] kltm opened #119 "Via Tender: This is a test issue"
Assigned to [Questions #2](http://gene-ontology.tenderapp.com/discussions/questions/2-this-is-a-test-issue). As reported in Tender:

<blockquote><p>Please ignore this; this is a test issue.</p></blockquote>

[2018-04-12 17:31] need47 opened #120 "Invalid PMIDs in go-basic.obo"
I downloaded the file from [http://purl.obolibrary.org/obo/go/go-basic.obo](http://purl.obolibrary.org/obo/go/go-basic.obo), which contains some invalid PMIDs (NCBI's PubMed identifier). Below is just one example, where the PMIDs look like something prefixed with year (YYYY).

[Term]
id: GO:0099009
name: viral genome circularization
namespace: biological_process
def: "The circularization of a vira

[2018-04-12 22:07] kltm commented on #120
@vanaukenk @ukemi
You one of you possibly know where to look for the origin of these PMIDs, or know who might?

[2018-04-13 11:27] ukemi commented on #120
https://github.com/geneontology/go-ontology/issues/15561

[2018-04-13 17:34] #120 closed

[2018-04-13 17:35] kltm commented on #120
This change should soon propagate out to the public server.

[2018-04-13 18:59] need47 commented on #120
Thanks for the quick fix. How soon?

[2018-04-13 19:32] kltm commented on #120
It should be about 30hrs from now--the pipeline is currently mid-run, the new run will start at midnight.

[2018-04-13 19:48] suzialeksander commented on #80
Closing issue due to inactivity.

[2018-04-13 19:49] #80 closed

[2018-04-13 19:54] suzialeksander commented on #113
@vanaukenk @pgaudet @ukemi
Would any of you happen to know the right contact person for this.

[2018-04-13 19:58] #83 closed

[2018-04-13 20:03] suzialeksander commented on #98
@levisna
Our apologies for the slow response. Could you possibly clarify the download location of the file that you're using.

@huaiyumi @thomaspd
Would either of you know the right contact person to help work through this issue?

[2018-04-13 20:09] vanaukenk commented on #113
@suzialeksander @kltm
I think some of the relevant term requests are appearing in the ontology tracker and are being dealt with there:
https://github.com/geneontology/go-ontology/issues/15548
https://github.com/geneontology/go-ontology/issues/15547
For annotation, @suzialeksander may need to follow up to see if/what additional help is needed.

[2018-04-13 20:39] need47 commented on #120
Thanks a lot :-)

[2018-04-13 20:53] kltm opened #121 "This is a test"
Assigned to [Problems #6](http://gene-ontology.tenderapp.com/discussions/problems/6-this-is-a-test). As reported in Tender:

<blockquote><p>This is a test</p></blockquote>

[2018-04-13 20:53] #121 closed

[2018-04-16 23:44] andrewsu commented on #113
Thank you all for the pointers and follow up.  As noted, @djow2019 successfully requested two term creations for `host cell centrosome` and `host cell peroxisome`.  For similar cases, we'll follow that process again.

I was originally concerned about how to handle `inclusion membrane` and `inclusion lumen`, since those seemed different somehow.  But since writing and rewriting this comment multipl

[2018-04-16 23:44] #113 closed

[2018-04-17 16:16] suzialeksander commented on #101
@Isagbrls Hi, did you still need this information? If you do, please let us know. Thanks.

[2018-04-18 20:12] chrish00 commented on #116
Wanted to report a couple of typos as well. These are currently present in the go.obo file:

1) id: GO:0102103
name: bisdemethoxycurcumin **syntase** activity
Should this be "synthase"?

2)id: GO:0102560
name: 5-phospho-alpha-D-ribose 1,2-cyclic phosphate 1-**phsophohydrolase** activity
Should this be “phosphohydrolase”?

[2018-04-20 20:31] suzialeksander commented on #118
Hello,

Can you provide the locations of the files you're using, and if possible some of the lines of annotations in question? Also, if any of these identifiers have prefixes can you include those.

Thank you!

[2018-04-20 20:34] suzialeksander commented on #117
Hello @lterhune,

Did you still have this question? We would be happy to look at your data if you let us know where it came from and see if we can give you a more detailed answer.  If this answered your question, did you need any more help?

Thank you!

[2018-04-20 20:38] suzialeksander commented on #116
Hi @chrish00,

Yes, we suspect you're correct. Thanks for letting us know.

@cmungall is this something that can be edited easily by you or @dougli1sqrd ?

[2018-04-20 20:44] suzialeksander commented on #111
Hi @chriszhuge, I'm closing this ticket because `enrichGO` would best be able to help you.  If you have any more issues we can help you with, please open a new ticket.

Thank you for contacting GO.

[2018-04-20 20:44] #111 closed

[2018-04-20 23:13] cmungall commented on #116
The ontology group can take care of changes to the ontology. @dougli1sqrd is working on the QC check to stop these leaking out.

[2018-04-23 16:21] contessaricci opened #122 "Maximum number of sessions exceeded"
I received this error message while collecting my accession numbers associated with various biological processes:
"Maximum number of sessions exceeded, please try later"

Did the system crash?

On that same note, is there a quick, straightforward way to download the accessions that were submitted and the processes they belong to?

Best,
Contessa

[2018-04-23 20:38] contessaricci commented on #122
Update: 4hrs later I have still not heard anything regarding this issue...

[2018-04-23 22:33] suzialeksander commented on #122
Hi @contessaricci,

Can you provide a little more info, e.g., what tool were you using/what was your search? If you can still recreate the problem, please provide us the steps we'd need to recreate it.  I think a little more detail will also help us answer your second question.

Thank you!

[2018-04-25 15:31] chanijoe opened #123 "Can a GO term be associated with more than one gene product?"

[2018-04-25 16:46] dustine32 commented on #112
Hi @ValWood we've uploaded the fixed paint_pombase.gaf.gz file to the panther FTP [server](ftp://ftp.pantherdb.org/downloads/paint/presubmission/). Does the pipeline need to run again for the changes to flow to where you can use them?

[2018-04-25 17:05] cmungall commented on #123
Yes, the relationship between gene products and terms is many-to-many

[2018-04-25 17:05] #123 closed

[2018-04-25 19:17] kltm commented on #112
Unless something is done otherwise: `snapshot` every 24hr; `release`/`current` every month.

[2018-04-27 18:28] ValWood commented on #112
I can't remember where I get the file from, can you remind me.
I expected it to be here but I don't see it.
http://build.berkeleybop.org/view/GAF/job/gaf-check-pombase/

We are still waiting for lots of annotation and PAINT family fixes though. @pgaudet  opened this yesterday.
https://github.com/geneontology/go-ontology/issues/15657

Will this be fixed, can you tell?

[2018-04-28 01:17] elmbeech opened #124 "GO cellular component term for Lymoptoxin LTA LTB LTB Heterotrimer missing"
Dear GeneOntology helpdesk,

I was searching AmiGO for a cellular component GO Term for Lymphotoxin-alpha Lymphotoxin-beta Lymphotoxin-beta heterotrimer, because our wetlab will perform experiments with this heterotrimer and I would like to annotate the experiment properly.

This is the reagent used in our lab:
+ https://www.rndsystems.com/products/recombinant-human-lymphotoxin-alpha1-beta2-protei

[2018-04-29 20:04] dustine32 commented on #112
@ValWood I think the most up-to-date location of gene_association.pombase.gz is here:
http://geneontology.org/gene-associations/

@kltm @selewis does this sound right?

When the monthly pipeline release runs it should pull the fixed PAINT pombase file from the Panther FTP site and update this file.

[2018-04-29 20:51] ValWood commented on #112
Ah, OK so you put then directly into the PomBase gaf. That's  what I would prefer not to happen.
We would like to import the PAINT files, and  QC them remove redundancy, incorrect families, taxon violations, curation, annotations from indirect phenotypes...now we need to extract the PAINT annotations  out of the file we created.

This means also that PomBase and AmiGO will never show the same data

[2018-04-30 16:01] pgaudet commented on #112
Hi @ValWood

Do we always want to filter redundant data ? Isn't it nice to have confirmation from several methods ? (Maybe that's what pombase wants to do, but maybe not GOC?) I think we need to discuss this (and improve the display for redundant annotations).

[2018-04-30 16:03] pgaudet commented on #112
@ValWood

One the gene name issue - I have no idea whether this is related, but @huaiyumi mentioned that gene names are obtained from the UniProt reference proteomes. I don't know how this gets reprocessed in the GO database (ideally as much information as possible would be resynchronized from some central database - gene names, term labels, ...)

Anyhow - is pombase up to date in the Reference pr

[2018-04-30 16:28] ValWood commented on #112
I don't think it was likely to be caused by the same issue. All of the  systematic IDs were present. This was a downstream issue with the GO Term Finder because the  gene symbol field was not correctly populated. But I don't think this was preventing  the data from getting into AmiGO.
(there was a problem that the data  the the EBI were using was out of date, but  @huaiyumi
has implemented a work

[2018-04-30 16:35] ValWood commented on #112
So for example 4 annotations, which are all *ultimately * the same source:
The experiment is in S. cerevisiae, and  the pombe gene will complement the loss (IGI heterologous complementation)
The other 2 are superflouos.

https://user-images.githubusercontent.com/7359272/38295209-27f0c2dc-37e5-11e8-9b3d-25d7a7e0dd59.jpg

[2018-04-30 16:37] ValWood commented on #112
actually that's not a great example...

[2018-05-02 00:01] suzialeksander commented on #124
Hello @elmbeech,

Do you have some peer-reviewed literature that shows this complex is biologically significant or performs some function as a complex (it doesn't have to be written by you)?  And where, ideally, would you expect to find this term if it existed?  If you could elaborate on the location in the ontology and provide a PMID, we will definitely look into this.

We're moving things around

[2018-05-02 12:56] ValWood commented on #112
The recent segue was about  filtering annotation redundancy more generally. We should discuss this at the GO meeting...
This could be partially (but not entirely) addressed by different annotation display. We do both at PomBase.  There are lots of benefits  of doing this, for users, curators and especially for QC.
Go might not wish to implement everything PomBase has done here, but should definite

[2018-05-02 21:03] diatomsRcool opened #125 "What properties are used to link genes to processes and components?"
I'm going to ask a really stupid question. I've been all through the documentation and I just want to confirm.

Genes are linked to processes via the 'regulates' property, right? And linked to components via 'part_of'? There's a lot of documentation and nothing every actually comes out and says it.

[2018-05-02 21:09] kltm commented on #125
@diatomsRcool (and the are),

That is actually a good question and one that we've been talking about make more explicit recently. I am assuming that the domain of this question is the data that you're looking at in the GAF files, AmiGO, or similar?

@cmungall Would you have any pointers for the current discussion for GAF 2.1.1 and term/gene relations?

[2018-05-02 21:31] #119 closed

[2018-05-03 01:25] cmungall commented on #125
The default relations are described in the GAF docs: http://www.geneontology.org/page/gene-product-association-data-gpad-format

So for BP, it is

We are planning more detailed documentation on this, I'll show some of our internal docs since I know @diatomsRcool knows ontologies and is a RO contributor

In GPAD there are a wider range of relationships (all in RO):

http://wiki.geneontology.org/ind

[2018-05-05 06:02] elmbeech commented on #124
Dear Gene Ontology Helpdesk,

This are the publications listed by the vendor that hetero timers are formed:
+ https://www.ncbi.nlm.nih.gov/pubmed/7916655 (Browning 1993: Lymphotoxin beta, a novel member of the TNF family that forms a heteromeric complex with lymphotoxin on the cell surface.)
+ https://www.ncbi.nlm.nih.gov/pubmed/1733951 (Androlewicz MJ 1999: Lymphotoxin is expressed as a heteromer

[2018-05-09 18:44] chrish00 commented on #116
Do you have an estimate on when the corrections will be made? I checked the data this morning and the issues are still present.

[2018-05-10 08:59] juanjoDiaz opened #126 "Help needed moving away from the MySQL database"
Hi,

I've been using the MySQL dump of GO in the past for my Cytoscape app (http://apps.cytoscape.org/apps/gfdnet)

I would like to move to the new model which I understand that is based on blazegraph or OBO files.

Essentially, given a gene network, I was using GO to:

- Get the list of possible genus and species so the user can select the right one for the analysis.
- Match all the synonyms of a

[2018-05-10 16:37] kltm commented on #126
@juanjoDiaz

Welcome to the transition--there's a lot going on and we're still trying to get the all documentation and links in order as well.

While OBO is still used as a format for the ontologies, you may want to look at OWL as a possibility moving forward as well: in the future the most data rich "annotation" models that we'll be creating will be based on that (often in TTL format).

The the l

[2018-05-10 16:57] ukemi commented on #116
Fixed the duplicate synonym.

@hdrabkin, can you look at the id: GO:0102103
name: bisdemethoxycurcumin syntase activity Should this be "synthase" issue. It looks like this might be the wrong name?

@pgaudet can you look at the consider tags? I though we had checked these.

[2018-05-10 17:14] hdrabkin commented on #116
I am fixing GO:0102103 in a new ontology ticket.

[2018-05-10 17:40] juanjoDiaz commented on #126
Thanks for the response @kltm

I'll look into OWL and wait for @cmungall for the details :)

Couple more questions:

- Is there any information about how those dumps files are organized and how the match the old MySQL structure?
- Is there any publicly accessible database and any guidelines of how to do so?

[2018-05-10 20:16] kltm commented on #126
@juanjoDiaz

For annotation/modeling data, the "dump" files that we provide are either going to be OWL TTL, so an OWL model, or a GAF 2.1. For the blazegraph, the layout in the triplestore is an extremely close analog to how the data is modeled in the OWL, but with small adjustments where they do not fit.

For the time being, we have made available http://rdf.geneontology.org . While not widely ad

[2018-05-11 20:02] pgaudet commented on #116
I am fixing the obsolete consider: pull request is here: https://github.com/geneontology/go-ontology/pull/15730

Pascale

[2018-05-12 14:10] suzialeksander commented on #125
Hi @diatomsRcool,

Is that a sufficient answer? Do you have any more questions about this? If not, I will close this ticket as resolved. Thanks!

[2018-05-12 15:49] pgaudet commented on #116
My fixes are merged. Are the other problems also fixed?

[2018-05-12 15:51] hdrabkin commented on #116
I fixed the : GO:0102103 issue with separate ticket and closed.

[2018-05-12 15:52] ukemi commented on #116
I fixed the synonym, which I believe was due to a merge. So I think this ticket has been addressed.

[2018-05-12 19:03] suzialeksander commented on #94
@daveshire, I'm closing this due to lack of activity.  If you still have this question, please re-open or make a new ticket and we will respond faster.  Thank you.

[2018-05-13 13:14] suzialeksander commented on #94
Hi @daveshire, I'm closing this item.  If you still have questions please open a new ticket, thanks.

[2018-05-13 13:15] #94 closed

[2018-05-13 13:29] suzialeksander commented on #84
An update: I think these outward-facing pages will be redesigned quite soon, and we will update this page with the "move".  Leaving this ticket open so we don't forget.

[2018-05-13 13:39] suzialeksander commented on #95
@mugitty can you answer this?

[2018-05-13 13:40] suzialeksander commented on #98
@levisna, do you remember the URL you downloaded this file from? We would like to resolve this if there's still a problem.  Thanks.

[2018-05-13 13:56] suzialeksander commented on #103
@sandyl27 , has this issue been resolved? I see the term name for GO:0061990 has been fixed, but I don't see any annotations to this term. Can you review the protein mentioned?
Thanks

[2018-05-13 14:10] sandyl27 commented on #103
I have looked at the annotations in CACAO and have fixed them.

[2018-05-13 14:31] suzialeksander commented on #105
Asking @srengel if this has anything to do with SGD

[2018-05-13 15:31] suzialeksander commented on #109
@huaiyumi, trying to assign only you to see if you get a more direct email

[2018-05-13 15:35] suzialeksander commented on #116
Great, thanks everyone for your help.  @chrish00, thank you for letting us know about these issues, if you still see them persist or notice anything else, please open a new ticket.

[2018-05-13 15:37] suzialeksander commented on #116
@dougli1sqrd, are the QC checks in place now?

[2018-05-13 16:48] suzialeksander commented on #108
Hi @rhaesler, did you find a solution to this issue?  If not, can you list the steps you took so I can recreate the results list you have, and let me know what result(s) you are questioning?  I think this will be the easiest way to see what the problem is.

Thanks!

[2018-05-13 17:10] suzialeksander commented on #116
@chrish00, all of these issues have been moved to the appropriate trackers.  Thanks again for pointing these issues out, and please open new tickets for any more issues.
https://github.com/geneontology/go-ontology/issues/15722
https://github.com/geneontology/go-ontology/issues/13667
https://github.com/geneontology/go-ontology/issues/15735

[2018-05-13 17:10] #116 closed

[2018-05-13 17:12] suzialeksander commented on #117
Closing, assume the above reply resolved the issue.  If you still have this question, @lterhune, can you open a new ticket? Thanks!

[2018-05-13 17:12] #117 closed

[2018-05-13 17:35] suzialeksander commented on #124
Moved to https://github.com/geneontology/go-ontology/issues/15736

[2018-05-13 17:35] #124 closed

[2018-05-13 19:50] huaiyumi commented on #109
The test requires a reference list, which can be defined by selecting a species. Alternatively, you can choose to upload your own reference list, then you don't need to select a species.

[2018-05-13 19:52] suzialeksander commented on #109
@lsirot, I hope this clears thing up.  If you still have questions please open a new ticket.  Thank you for contacting GO.

[2018-05-13 19:52] #109 closed

[2018-05-13 20:36] ValWood commented on #105
It's now fixed in AmiGO
http://amigo.geneontology.org/amigo/gene_product/SGD:S000004706
It wasn't an SGD problem
it was because the GO secondary IDs were still being used...
Now its
http://amigo.geneontology.org/amigo/term/GO:0006511

[2018-05-13 20:36] #105 closed

[2018-05-14 10:24] martinhilbers opened #127 "archive/lite/latest/go_weekly-assocdb.rdf-xml.gz empty or missing."
Hi,

The last working version of lite/go_weekly-assocdb.rdf-xml.gz seems to be
ftp://ftp.geneontology.org/go/godatabase/archive/lite/2018-02-24/go_weekly-assocdb.rdf-xml.gz

The file seems to be missing for March/April. It has returned for the may 5 release:
ftp://ftp.geneontology.org/go/godatabase/archive/lite/2018-05-05/go_weekly-assocdb.rdf-xml.gz
but that file does not contain any data.

[2018-05-14 13:49] kltm commented on #127
@martinhilbers
Our apologies for the disruption. We are currently undergoing a transition to an RDF triplestore in preference to a relational database. As an inevitable part of this process, we are not being able to spend as much bandwidth in the support of the legacy SQL dumps, and will eventually stop supporting/supplying them at all.
The following helpdesk tickets may help give some context: ht

[2018-05-14 14:57] Xenbase2 opened #128 "run time error"
HI - I am searching AmiGo2 for GO terms and get an immediate 'run time error ' for the search 'cell differentiation' and no results. Does AmiGO2 need a reboot?

Date/time: 05.14.2018 approx. 10.54am EST
searches: cell differentiation  or neural cell differentiation

Christina at Xenbase

[2018-05-14 15:04] kltm commented on #128
@Xenbase2 As well, we've found that doing a couple of "hard" refreshes of the tab/window seems to clear the issue.

[2018-05-14 15:13] Xenbase2 commented on #128
Hi- this is the url:

http://amigo.geneontology.org/amigo/search/ontology?q=cell%20differentiation

or http://amigo.geneontology.org/amigo/medial_search?q=neural+cell+differentiation

I get a return, but the runtime error immediately when I click the ontology blue button to narrow the search.

I am at Cincinnati Children's' hospital, Ohio/USA and on connected to internet via network cable.

cheers

[2018-05-14 15:50] kltm commented on #128
@Xenbase2

Our apologies, as this seems to be an issue that is hard to trace and has a component that is local to people's machines.

My theory is that a recent DNS change has not been properly picked up by some user's browsers, who continue to use a now bad cached version in some cases. (This is unfortunately very hard to replicate and only a theory at this point.)

If I could ask you to do somet

[2018-05-14 15:54] Xenbase2 commented on #128
sorry, I should have said the hard refresh didn't work . I can try restarting my computer.

________________________________
From: kltm <notifications@github.com>
Sent: Monday, May 14, 2018 8:50:17 AM
To: geneontology/helpdesk
Cc: Peter D. Vize; Mention
Subject: Re: [geneontology/helpdesk] AmiGO run time error (#128)

@Xenbase2<https://github.com/Xenbase2>

Our apologies, as this seems to be an is

[2018-05-14 15:57] cmungall commented on #128
@Xenbase2 - the hard refresh works for me. Can I just confirm how you are doing the hard refresh, it varies by browser/OS

[2018-05-14 16:01] kltm commented on #128
@Xenbase2
It may also be useful if we know your browser, browser version, and operating system (if known).

[2018-05-14 16:05] Xenbase2 commented on #128
Using "shift" key, and while doing that click the refresh button nor restart of  computer fixed this problem. I can try any number of searches and none of them work on Safari, so I switched to Chrome- I have got my results using Chrome. It is strange as I have been on Safari.  using AmiGo2 for the past few weeks almost all day long on Safari. with no problems.

So maybe you can/need to do nothing

[2018-05-14 16:16] kltm commented on #128
Christina (@Xenbase2 ),

The apology is ours; this is a weird issue and we're still trying to isolate it a bit better so we can give more general advice about it.

Thank you for bearing with us while we tried our theories on you. We have tried following up with somebody local using Safari, but were unable to duplicate the issue so far.

One part of our current theory is that it should never happen

[2018-05-15 13:02] martinhilbers commented on #127
Is there any timeframe for when support for these will be dropped ?

[2018-05-16 10:55] Antonialock commented on #128
I'm getting the same. I was hoping to demo amigo today for a Wellcome trust workshop

When searching for "protein kinase activity" in the simple search I get stuck on this page
http://amigo.geneontology.org/amigo/medial_search?q=protein+kinase+acivity

I normally sue firefox

I have tried doing a hard refresh (multiple times), use chrome, and using an incognito tab

[2018-05-16 10:57] Antonialock commented on #128
also if I go to
http://amigo.geneontology.org/amigo/term/GO:0004672

I get:
404 Error
GO:0004672 not found

AmiGO 2 was unable to find the term GO:0004672 through normal channels--it may not be in our data set or it may go under a different identifier. Please try your term (GO:0004672) through the landing page general search interface using synonyms or alternate identifiers.

If you feel that you

[2018-05-16 13:46] ukemi commented on #128
I am back in the office today and I am also getting the runtime error. Hard refresh is no longer working.
I am on Mac OS High Sierra, 10.13.3 and am wired into the network. I am using Firefox.

[2018-05-16 15:02] mmcev106 opened #129 "GOOSE is DOWN (get it?)"
But seriously, it seems to be failing with a 500 Internal Server Error message:

http://amigo.geneontology.org/goose

[2018-05-16 15:19] kltm commented on #128
Well, there is possibly an unrelated AmiGO outage mixed in here too. Could people try again and see if they are having issues?

[2018-05-16 15:28] kltm commented on #129
Okay, I have a fix in progress...

[2018-05-16 15:29] paolaroncaglia commented on #128
@kltm
My search works now, but I got a runtime error when looking up GO:0003824 'catalytic activity' in Safari just now (not on Firefox though). And a GOOSE error was reported independently in #129 .

[2018-05-16 16:15] kltm commented on #129
GOOSE should no longer be cooked.

[2018-05-16 16:15] #129 closed

[2018-05-16 16:18] kltm commented on #128
@paolaroncaglia
Could you try manually clearing the cache in Safari? I do not have it available to walk you through. As well, can you confirm that you tried the "hard" reset options found in this ticket and geneontology/amigo#500 ?

[2018-05-17 07:49] paolaroncaglia commented on #128
@kltm
I still got a runtime error when looking up GO:0003824 'catalytic activity' in AmiGO on Safari a few minutes ago, but after manually clearing the cache, it worked. I do think I tried the hard reset yesterday. So all good for me, thanks.

[2018-05-17 08:03] Antonialock commented on #128
It is working again for me (it wasn't working for anyone in the workshop yesterday, 25 students, so I don't think it was "my" machine)

[2018-05-17 18:34] kltm commented on #128
@Antonialock It is indeed an issue; I've added it as a standing warning in AmiGO for the time being. That said, it does not seem to be something that we control as it seems to be an issue with an old cached version of DNS name information being held for some reason for some browsers on some operating systems. Once this bad information is purged, it does not seem to reoccur.

[2018-05-18 00:05] Antonialock commented on #128
@kltm Im not entirely sure what you mean but I cleared my cache and cookies, tried an incognito tab, tried firefox, chrome and safari, and 2 different wifi networks. Would you expect the problem to have resolved using any of these methods (it didn't)

[2018-05-18 09:59] rhaesler commented on #108
Dear GO-Helpdesk,

unfortunately, I didnt find a solution yet. I keep getting non-human hits within the human gene ontology.

Kind regards,

Robert

____________________________________________

Dr. Robert Haesler

Institute of Clinical Molecular Biology

Christian-Albrechts-University Kiel

University Hospital Schleswig Holstein, Campus Kiel Rosalind-Franklin-Straße 12 · 24105 Kiel, Germany Deliv

[2018-05-18 17:41] suzialeksander commented on #108
@rhaesler, Can you please:

- [ ]  detail the exact steps you took so I can recreate the results list you have

- [ ]  list SPECIFICALLY what result(s) you are questioning

Without this information I can't resolve this issue.  Thanks.

[2018-05-18 18:51] yqy151 opened #130 "panther analysis using generic mapping file not working"
I want to do panther analysis on panther website (http://www.pantherdb.org/geneListAnalysis.do). I work on non model species, so I uploaded my own gene list and reference list. The list looks like this:

Gene.1G010200	PTHR33374,PTHR33374:SF1
Gene.1G022100	PTHR37391,PTHR37391:SF1
Gene.1G023400	PTHR27007,PTHR27007:SF12
Gene.1G028900	PTHR23500,PTHR23500:SF96
Gene.1G029300	PTHR31734,PTHR31734:SF31
...

[2018-05-18 20:35] kltm commented on #130
@mugitty @huaiyumi
Would either of you have information about this for @yqy151 ?

[2018-05-18 21:40] kltm commented on #128
Currently, our only working theory involves something wrong with various DNS caches, but it has been very slow going (and, again, not really under our control). At this point, I'm also wondering about browser tricks like "pre-fetching" (e.g. https://developer.mozilla.org/en-US/docs/Web/HTTP/Link_prefetching_FAQ) that may have cached the wrong reference to GOlr when going to AmiGO. Again, hard to s

[2018-05-18 21:47] mugitty commented on #130
The lists should be formatted as follows:
- The first column should contain your id

- The second column should contain either a PANTHER family id or PANTHER Subfamily id.  In your case you have the family id a comma followed by subfamily id.

[2018-05-18 21:48] mugitty commented on #130
-

[2018-05-18 21:48] #130 closed

[2018-05-23 13:38] rhaesler commented on #108
Hi,

we associate gene symbols with GO-terms (goa_human.gaf), then we take those GO-terms and look at all ancestor terms in the ontology tree, up to level one. When we do this we also reach GO-terms which are associated with “Chloroplast” (as example).

For example:

If you look in AmiGO for GO:1990904 it is associated with Organism: Homo sapiens.

If you don’t filter for Homo sapiens, but filter

[2018-05-24 00:14] kltm commented on #108
@rhaesler

GO:1990904 ("ribonucleoprotein complex" in cellular_component) is a fairly "high-level" term, with a lot of transitive annotations to it from a large number of species, including humans and green plants. For example, an annotation to RPS8 with term "chloroplast ribosome" would transitively include the term "ribonucleoprotein complex", which is to be expected.

Within the ontology itself

[2018-05-24 14:41] cmungall commented on #108
To get the taxon links use go-plus, for download URLs see http://geneontology.org/page/download-ontology

However, in general this should not be required. We should not have annotations of vertebrate genes to chloroplast! @rhaesler has found a hopefully rare problem in the annotations. I have reported this (https://github.com/geneontology/go-site/issues/660) and this should be fixed in the next re

[2018-05-24 18:37] andia0210 opened #131 "How to download Prokaryote GO Slim subset?"
I have been trying to obtain the Prokaryote GO Slim subset that is mentioned in the Gene Ontology webpage, but I can not. Would you please suggest from where this subset can be downloaded?

Thank you very much.

Sue

[2018-05-25 04:28] cmungall commented on #131
You can also download the slims from the download ontology page: http://geneontology.org/page/download-ontology#Subsets

[2018-05-29 16:00] pgaudet opened #132 "404 errors"
Hello,

Whenever I click on a GO term I get a 404 error today. I can access term by search box, but the links do go anywhere.

Thanks, Pascale

[2018-05-29 17:23] kltm commented on #132
@pgaudet Clicking on GO terms works for me. Could you give us example URLs and the URL of the place that you're clicking from?

[2018-05-31 18:55] stuppie opened #133 "Full GO annotation database download"
I'm looking at the download page here: http://www.geneontology.org/page/go-mysql-database-guide
For the "full GO database", it says it is updated monthly, however the files in http://archive.geneontology.org/latest-full/ were last updated 07-Jan-2017. Is there a more up to date source for the full annotation download? Thank you in advance!

[2018-05-31 19:06] cmungall commented on #133
We'll have a more general announcement going out soon - for your use case, is this for loading wikidata?

[2018-05-31 19:10] stuppie commented on #133
Yes, I'm just trying to find a way to get all of the annotations for a particular species (by taxid). From amigo, it looks like I can only query by organism name. I suppose I can do a SQL query though ...

[2018-05-31 19:26] kltm commented on #122
Closing from inactivity.

[2018-06-01 18:04] suzialeksander commented on #125
Closing as resolved.

[2018-06-01 18:04] #125 closed

[2018-06-01 18:06] suzialeksander commented on #98
Closing due to lack of info.

[2018-06-01 18:06] #98 closed

[2018-06-01 18:07] suzialeksander commented on #101
Closing due to lack of info

[2018-06-01 18:07] #101 closed

[2018-06-03 16:04] huaiyumi commented on #98
This is probably a reference proteome issue. Should let Maria know.

[2018-06-05 18:09] jonquet opened #134 "Best way to automatically resolve goc:something xrefs"
Hi,
We are parsing the content of several ontologies in AgroPortal to extract "mappings" using XREFS.
We want to store the XREFS has RDF.

We have founded 184K occurences of goc:something in EFO,PR,TO,ENVO,CL,PATO,FLOPO,PCO,SO,GO

My questions are:
1. What is the meaning of these xrefs exactly? Which semantic web property (better than oboinowl:hasDbXref) can represent that information? What about

[2018-06-05 21:35] jonquet opened #135 "Dereference GO_REF PURL to proper URL"
Can we have the URL:
http://purl.obolibrary.org/obo/go/references/

Found in :
http://www.geneontology.org/doc/GO.xrf_abbs

Be dereferenced to something like:
https://github.com/geneontology/go-site/tree/master/metadata/gorefs
Or please advice another permanent URL to use to identify the GO_REF resource.

To access a specific GO_REF:
e.g., go_ref:0000008
I have found no better than:
https://github

[2018-06-05 22:58] suzialeksander commented on #134
@cmungall is this something you can answer?

[2018-06-06 14:11] balhoff commented on #134
For references like these for Noctua users, we expand `GOC:` to `http://purl.obolibrary.org/obo/go/users/` using [this JSON-LD context](https://github.com/geneontology/go-site/blob/master/metadata/users-groups-context.yaml). However that mapping isn't in [db-xrefs.yaml](https://github.com/geneontology/go-site/blob/master/metadata/db-xrefs.yaml)—maybe @cmungall can comment whether it should be. In

[2018-06-06 23:02] suzialeksander commented on #135
@vanaukenk @ukemi are you able to answer this?

[2018-06-14 12:47] jtmatus opened #136 "Nicotiana benthamiana GOs"
Hi there! Considering that the Nb genome sequence (version1) and its annotation have been released (see https://solgenomics.net/tools/bulk?mode=ftp), would it be possible to have the GO classifications from this species in gene ontology.org so we can perform GOEA? Thanks!

[2018-06-15 00:05] suzialeksander commented on #136
@vanaukenk or @ukemi, do you know who could address this? I would ask @kltm but I'm not sure when he's back.

[2018-06-15 21:27] suzialeksander commented on #136
Hi @jtmatus, just to clarify: Are you trying to find existing GO annotations in Amigo, or are you looking to add your own set?

Thanks!

[2018-06-15 22:42] kltm commented on #136
My take on it was that it was a request to have ftp://ftp.solgenomics.net/manual_annotations added as an external resource.
If so, the file available there seems like it would take a lot of work to get it up to the level of a GAF.

[2018-06-18 16:12] jtmatus commented on #136
Hi guys. thanks for taking interest in my query. So, I was hoping that in the list of species found in the left side of the main page of Gene Ontology Consortium (http://geneontology.org) if it could be possible for you to include Nicotiana benthamiana so to make easier my GOEAs. So far, I've done customised GOEA in AgriGO but having Nicotiana already incorporated in this list would fasten things

[2018-06-20 17:09] suzialeksander commented on #118
Hi @michelegentili93, I'm closing this stale issue due to lack of information.  If you still have questions, please open a new ticket with the information requested. Thanks!

[2018-06-20 17:09] #118 closed

[2018-06-20 17:12] suzialeksander commented on #95
Hi @mugitty, this is still broken, can you look into this?

[2018-06-20 17:44] mugitty commented on #95
This has to do with versioning.  Whenever new GAF files are loaded, Amigo should obsolete old PANTHER ids and use only ones from latest GAF.

[2018-06-22 20:28] kltm commented on #136
@jtmatus
As it stands now, Nicotiana benthamiana does have some annotation already, mostly from UniProt:
http://amigo.geneontology.org/amigo/search/annotation?q=*:*&fq=taxon_subset_closure_label:%22Nicotiana%20benthamiana%22&sfq=document_category:%22annotation%22
You'd have to open up the search to get down to it, as it does not have a high count in the facets.

[2018-06-22 20:28] kltm commented on #136
@jtmatus My apologies--I see now that this is a question about the enrichment tool, not the annotation browser.

[2018-06-22 20:34] kltm commented on #95
@mugitty
Just to clarify, the fix here occurred during June and the fix is in the upstream file and the correct filtering at our end, correct?
If so (tagging @dougli1sqrd ), the fix should go out automatically at the end of the month.

[2018-06-23 22:41] huaiyumi commented on #136
PANTHER, which supports the backend of the GO enrichment, provides the list of the species found in the left side of GO website. Besides the 112 genomes listed there, PANTHER supports another 800+ genomes from the reference proteome project for users to generate GO annotations (ftp://ftp.pantherdb.org/generic_mapping/).  I just checked. Unfortunately, Nb is not one of the nearly 1000 genomes suppo

[2018-06-27 01:55] mikpom opened #137 "Reasoning over is_a and part_of"
According to relationship reasoning in the [docs](http://geneontology.org/page/ontology-relations) if A **part_of** B **is_a** C then A **part_of** C. But this does not seem to hold in the following example. GO:0000902 (cell morphogenesis)  **part_of** GO:0048856 (anatomical structure development). GO:0048856 (anatomical structure development) **is_a** GO:0008150  (biological_process). **BUT** GO:

[2018-06-27 02:47] kltm commented on #137
@cmungall You might be able to speak to this?

[2018-06-27 08:35] basha-kfshrc opened #138 "number of session"
The GO Enrichment analysis doesn't allow me to do the analysis for more than one gene list (n=72) at a time,  even during the analysis of a single gene list, when I try to perform the analysis for different GO annotations (biological processes, cellular components, etc...) it stops responding and gives me a message that says "Maximum number of sessions is exceeded please try again later", and then

[2018-06-27 16:07] suzialeksander commented on #136
Hi @jtmatus, does this answer your question for now?

[2018-06-27 16:19] suzialeksander commented on #112
@ValWood @pgaudet Have all the issues here been addressed in other tickets? I'd like to close the helpdesk ticket if so, but want to check first as this ticket has been pretty busy. I think all the tickets mentioned have been closed except

Redundant annotations accumulating: geneontology/go-annotation/issues/1879

Consider not merging/injecting PAINT files from some groups: geneontology/go-site/i

[2018-06-27 16:21] suzialeksander commented on #126
@cmungall, was there anything you can add to this?

[2018-06-27 16:23] suzialeksander commented on #127
I don't know if there's a specific timeframe yet.  @kltm @dougli1sqrd is there anything you can add to this?

[2018-06-27 16:36] mugitty commented on #138
The session count issue can be avoided by performing the analysis directly from pantherdb.org.   Do as follows:

1. Open browser to http://pantherdb.org/
2. Enter ids into text box under step 1. or use the browse button to select input file with gene ids
3. Select organism under step 2.
3.  Select Statistical overrepresentation test and deselect use default settings
4. Click on the submit button
5

[2018-06-27 16:57] kltm commented on #127
At this point, continued support for the full databases ended in about January (I believe referenced in one of the tickets); the lite databases will continue to be minimally support until either the new system provides sufficient coverage and examples (or the very old hardware/pipeline fails).

[2018-06-27 16:58] #127 closed

[2018-06-27 16:59] #138 closed

[2018-06-27 18:03] cmungall commented on #137
On 26 Jun 2018, at 18:55, Mikhail Pomaznoy wrote:

Can you give a counter-example where you feel it wouldn't hold? The
semantics of the relationship hold regardless of how broad or narrow the
class is.

[2018-06-27 18:31] ValWood commented on #112
This was primarily about PAnther not using the correct IDs, so if that is fixed, this can be closed.
v

[2018-06-27 18:38] mikpom commented on #137
There are two points here:

1. Main point is that in this particular example (I can provide more
   of this kind) reasoning `if (A is_a B part_of C) then (A part_of C)`
   doesn't hold. So I find that part in the GO documentation
   misleading. You didn't comment on that yet.

2. Another point is to distinguish in which kind of relationships this
   reasoning doesn't hold. As I guess here this mig

[2018-06-27 18:58] suzialeksander commented on #112
Great, it seems like @dustine32 solved this in April.  I'm assuming the problem has been fixed. Please re-open if you still see the wrong primary names.

Thanks!

[2018-06-27 19:01] selewis commented on #112
@Huaiyu Mi <huaiyumi@usc.edu> or @Paul D Thomas <pdthomas@usc.edu> are the
ones who need to answer this.

On Wed, Jun 27, 2018 at 11:31 AM Val Wood <notifications@github.com> wrote:

[2018-06-27 19:05] suzialeksander commented on #112
Ok, I'll wait to hear from them. Thanks!

[2018-06-27 19:40] dustine32 commented on #112
I can answer for the PAINT GAF generation pipeline that we're currently checking the PomBase gene symbols and descriptions against the lookup files provided from these URLs:

ftp://ftp.pombase.org/nightly_update/misc/allNames.tsv
ftp://ftp.pombase.org/nightly_update/misc/sysID2product.tsv

...and fixing the GAF lines if they're incorrect. So it should be fixed for now. But this is still a "semi-ma

[2018-06-27 21:18] selewis commented on #112
Thanks Dustin, that's what I was guessing you'd done. More a temporary
patch than a long-term fix. That can only come when the reference proteomes
from UniProt accurately reflect what PomBase/Val specify, and then the
PANTHER trees are rebuilt from these.

Do you (or anyone) know if the latest UniProt reference proteomes are fixed
now? And when the next PANTHER build will be?

On Wed, Jun 27, 2018

[2018-06-28 05:10] mikpom commented on #137
There is still misunderstanding on my question. I edited the initial comment. Hope it is now more clear what I am asking about.

[2018-06-28 12:39] ukemi commented on #137
Morphogenesis and maturation are both part of the development of an anatomical structure. Morphogenesis, maturation and the development of the anatomical structure are all types of developmental processes. This is valid.

[2018-06-28 15:13] mikpom commented on #137
If I know understood correctly two terms can be simultaneously connected with is_a and part_of relationships. If these relationships are not mutually exclusive then issue is resolved.

[2018-06-28 16:36] cmungall commented on #137
Correct. We typically do not assert X is_a Y, X part_of Y, but inferences of this form are perfectly valid.

[2018-06-28 16:36] #137 closed

[2018-06-28 23:00] dustine32 commented on #112
@selewis I'm starting on the newest PANTHER build right now and it sounds like it'll take a few months. I believe that, even though UniProt's fixed the symbols on their end, the ref prot data (released April 2018) used for the build still has the wrong mappings.

We'll just take the same approach for fixing these symbols during the build (of course, next reference proteome release should have thes

[2018-06-29 11:29] ValWood opened #139 "duplicate human entries in the GO database"
We still have dupliciate entries in the GO database, which makes analyses difficult

These 15 identifiers were found to be ambiguous: ATP6AP2 CALM1 EIF3F GABARAP HIST1H2AI HOXD4 IDS KLK9 MED17 MUC21 NSG1 PI4K2B SUPT3H TMSB15B TRAPPC2L

ATP6AP2

and an unreviewed Trembl entry?
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:A0A1C7CYW4
and the annotated swiss prot entry
https://www.unipro

[2018-06-29 11:30] ValWood commented on #139
FYI   @Antonialock

[2018-07-02 18:43] kltm commented on #139
I'm not quite sure what the question here is. For example, "GABARAP" is a symbol coming in from UniProt, MGI, and RGD. Symbols are quite often duplicates, which is why many services use namespaced identifiers or filtering mechanisms to isolate the actual entity they want.

[2018-07-02 20:07] ValWood commented on #139
These are duplicate *human* entries.
We should only have one  entry per GP in GO.

[2018-07-02 20:10] kltm commented on #139
Human GABARAP:
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:O95166
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:H6UMI1

[2018-07-02 20:14] kltm commented on #139
@ValWood You'd consider the above to be the same entity?

[2018-07-02 20:56] ValWood commented on #139
Yes,

https://www.uniprot.org/uniprot/O95166
https://www.uniprot.org/uniprot/H6UMI1
are the same entity.
Now I look more closely one is unreviewed, so it shouldn't get into GO?

Some might be exact duplicates (calmodulin histones and elongation factors), but these should be distinguished by having different names.

I think its a question for UniProt...

[2018-07-02 20:58] ValWood commented on #139
So MED17, there is only one copy in the human genome, but we have

http://amigo.geneontology.org/amigo/gene_product/UniProtKB:A0A1W2PRB8
and
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:A0A1W2PRB8

in GO

[2018-07-02 21:02] ValWood commented on #139
I know it is only a small number (now), it is much improved, but we should find out what the problem is with the ingest that makes this possible.  Presumably there is only one entry in reference proteomes. It's really really important to represent the human proteome uniquely and correctly for analysis.

[2018-07-02 21:58] cmungall commented on #139
I think you meant this as the 2nd URL

http://amigo.geneontology.org/amigo/gene_product/UniProtKB:Q9NVC6

(which is the correct one)

This is how we get it from GOA:

`curl -s -L ftp://ftp.ebi.ac.uk/pub/databases/GO/goa/HUMAN/goa_human.gaf.gz  | gzip -dc | grep MED17`

e.g.

[code]

@tonysawfordebi can you take a look, and tag Alex too (don't have his github handy, want to get in the habit of tagg

[2018-07-02 22:04] ValWood commented on #139
yes please, that would be  a useful QC check

[2018-07-03 01:03] cmungall commented on #135
The expansion is correct, the URL http://purl.obolibrary.org/obo/go/references/0000008 is currently resolved to a github page because we have limited resources and making a web page for each of the references hasn't been a high priority, but we will hopefully start working on this soon

[2018-07-03 01:03] #135 closed

[2018-07-03 03:30] selewis commented on #139
@Chris Mungall <cmungall@googlemail.com>
Not sure if this is relevant, but I know in PANTHER there is a many2many
relationship between genes and proteins (though never both at once, just

-S

On Mon, Jul 2, 2018 at 3:04 PM Val Wood <notifications@github.com> wrote:

[2018-07-03 06:05] ValWood commented on #139
found it
https://github.com/pantherdb/db-PAINT/issues/1

On 03/07/2018 04:30, Suzanna Lewis wrote:

--
University of Cambridge
PomBase http://www.pombase.org/
Cambridge Systems Biology Centre http://www.sysbiol.cam.ac.uk/Investigators/val-wood

[2018-07-03 07:35] tonysawfordebi commented on #139
According to the data that we get from UniProt, both Q9NVC6 (Swiss-Prot) and A0A1W2PRB8 (TrEMBL) are canonical entries in the human GCRP, and they both have MED17 as the gene name, which doesn't seem right. I'll raise this with UniProt.

[2018-07-03 07:36] ValWood commented on #139
Thansk @tonysawfordebi  could you ask them to look at the full list.

[2018-07-03 07:37] tonysawfordebi commented on #139
Roger that, @ValWood

[2018-07-03 07:41] ValWood commented on #139
Proteins nearly good,  RNA's, same issues looming
https://github.com/geneontology/amigo/issues/511
I filed this on the AmiGO tracker, because that's where I saw the problem. But it's clearly the wrong place.
Who would be the correct person for this part of the pipeline?
https://github.com/geneontology/amigo/issues/511

[2018-07-03 07:57] tonysawfordebi commented on #139
I just checked the list of genes from the top of this thread, and this is what I found:

Gene Name|Entry|Type
---------|-----|----
ATP6AP2|O75787|Swiss-Prot
ATP6AP2|A0A1C7CYW4|TrEMBL
CALM1|P0DP23|Swiss-Prot
EIF3F|O00303|Swiss-Prot
GABARAP|O95166|Swiss-Prot
GABARAP|H6UMI1|TrEMBL
HOXD4|P09016|Swiss-Prot
HOXD4|A0A087WSZ3|TrEMBL
IDS|P22304|Swiss-Prot
IDS|B3KWA1|TrEMBL
KLK9|Q9UKQ9|Swiss-Prot
KLK9|Q2XQG

[2018-07-03 08:01] ValWood commented on #139
For CALM1 in AmiGO I see

http://amigo.geneontology.org/amigo/gene_product/UniProtKB:P0DP23
and
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:P62158

[2018-07-03 08:03] ValWood commented on #139
For NSG1
I see
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:A0A0A6YYJ2
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:P42857

[2018-07-03 08:07] tonysawfordebi commented on #139
This is what we have (taken from UniProt):

Gene|Entry|Type|Proteome|Canonical Entry
----|-----|----|--------|----------------
CALM1|P0DP23|Swiss-Prot|Canonical|
CALM1|B4DJ51|TrEMBL|none|
CALM1|G3V479|TrEMBL|Isoform|P0DP23
CALM1|E7ETZ0|TrEMBL|Isoform|P0DP23
CALM1|Q96HY3|TrEMBL|Isoform|P0DP23
CALM1|M0QZ52|TrEMBL|Isoform|P0DP23
CALM1|G3V226|TrEMBL|Isoform|P0DP23
CALM1|G3V361|TrEMBL|Isoform|P0DP23
EI

[2018-07-03 08:08] ValWood commented on #139
actually these are different proteins, with the same name. How does that happen?
http://amigo.geneontology.org/amigo/gene_product/UniProtKB:A0A0A6YYJ2
Neuron-specific protein family member 1

http://amigo.geneontology.org/amigo/gene_product/UniProtKB:P42857
Neuronal vesicle trafficking-associated protein 1

[2018-07-03 08:15] ValWood commented on #139
CALM1 https://www.uniprot.org/uniprot/P62158 is obsolete

[2018-07-03 18:18] dougli1sqrd commented on #139
@cmungall Yeah we could do something like that. So, the check would have to find different gene product ids that have the same label? Do we have labels in the RDF for gene products? I can take a look.